[2014-07-18 07:03] lokkju opened #1 "Which version of SciPy contains chirpz?"
Your code references scipy.signal.chirpz, which I can't seem to find anywhere.  Is this a custom extension to scipy, or?

[2014-08-13 17:29] #1 closed, assigned to nobody

[2014-11-06 19:36] dmaynor opened #2 "Build is broken?"
code/gr-gsm/include/plotting/plotting.hpp:28:30: fatal error: gnuplot-iostream.h: No such file or directory
 #include "gnuplot-iostream.h"
                                              ^

compilation terminated.
make[2]: **\* [lib/CMakeFiles/gnuradio-gsm.dir/receiver/receiver_impl.cc.o] Error 1
make[1]: **\* [lib/CMakeFiles/gnuradio-gsm.dir/all] Error 2
make: **\* [all] Error 2

I built gr-gsm cle

[2014-11-07 21:39] #2 closed, assigned to nobody

[2014-12-01 18:37] archey opened #3 "Distribution Request"
I am a Developer for the ArchAssault project, we would like to add this to our repo but we noticed its missing a license file. Can you please add a license file to this repo?

[2014-12-01 20:33] dholm opened #7 "HEAD does not build without NDEBUG"
The assert macro in `lib/receiver/assert.h` throws a type called `Assertion` but that type is not defined anywhere in the code.

[code]

[2014-12-02 14:18] #3 closed, assigned to nobody

[2014-12-02 18:06] #7 closed, assigned to ptrkrysik

[2014-12-02 21:01] joetester1 opened #8 "Build problem on Kali 3.14"
Get the following on make:

[  3%] Building CXX object lib/CMakeFiles/gnuradio-gsm.dir/misc_utils/extract_system_info_impl.cc.o
In file included from /root/Play/gr-gsm/lib/misc_utils/extract_system_info_impl.cc:31:0:
/root/Play/gr-gsm/lib/misc_utils/extract_system_info_impl.h:68:7: error: ‘set’ in namespace ‘std’ does not name a type
/root/Play/gr-gsm/lib/misc_utils/extract_system_info_impl.cc: In

[2014-12-03 19:47] dmaynor opened #9 "Build problem on 14.10"
Scanning dependencies of target gnuradio-gsm
[  3%] Building CXX object lib/CMakeFiles/gnuradio-gsm.dir/receiver/receiver_impl.cc.o
[  6%] Building CXX object lib/CMakeFiles/gnuradio-gsm.dir/receiver/receiver_config.cc.o
[  9%] Building CXX object lib/CMakeFiles/gnuradio-gsm.dir/receiver/viterbi_detector.cc.o
[ 12%] Building C object lib/CMakeFiles/gnuradio-gsm.dir/receiver/sch.c.o
[ 15%] Building

[2014-12-03 21:43] #8 closed, assigned to ptrkrysik

[2014-12-03 21:50] #9 closed, assigned to ptrkrysik

[2014-12-03 23:40] KALRONG opened #11 "Error while starting airprobe_rtldsr.py"
Hi,

I have followed your instructions from a base system working with the old airprobe and while trying to use gr-gsm the error Im pasting below started to appear, I have done a clean install and install using pybombs of the packages you specify but the error still appear. Any idea of whats going on? rtl_sdr seems to be working fine.

Traceback (most recent call last):
  File "/usr/local/bin/airp

[2014-12-04 10:41] KALRONG opened #12 "sudo /etc/init.d/ssh"

[2014-12-04 11:50] #12 closed, assigned to nobody

[2014-12-05 09:57] #11 closed, assigned to ptrkrysik

[2014-12-07 07:52] ptrkrysik opened #13 "Compilation of gnuradio companion grc files with cmake and grcc"
Different versions of gnuradio companion generate python files that may be incompatible between different GNU Radio versions. It would be best to compile python files on user machine, for whatever version of GNU Radio (starting from 3.7.3) he has.

I'm looking for someone who know how to do this with use of cmake. There is a file taken from GNU Radio which is in gr-gsm/cmake/Modules/GrMiscUtils.cm

[2014-12-18 21:44] KALRONG opened #16 "more timeslots?"
Hi,

Im trying to analyze traffic from my mobile but I see that gr-gsm doesn't have the option like airprobe to analyze other timesloys than 0. Can this feature be included?

I have tried to run the old airprobe for this while I have gr-gsm fully functional but is complaining about the gsm library saying that module doesnt have the attirbute receiver_cf.

Im stil understanding the code so I can tr

[2014-12-18 22:31] KALRONG opened #17 "airprobe_file.py not sending any data"
Hi,

I have tried to use airprobe_file.py with the usual example for the old go.sh and with a couple of test captures I did but nothing appears on wireshark listenning on lo, maybe im missing something?

This is the command Im running:

airprobe_file.py --samp-rate=1M --fc=941.8M -i ~/airprobe-old/gsm-receiver/src/python/capture_941.8M_112.cfile

CPU spikes for a little time and then it just stops

[2014-12-22 17:07] helxsz opened #18 "how it works in depth"
hi, I am now learning the SDR and trying to experiment on GSM. Could you tell me how it works in depth, is it a active system that sends the silient SMS or a passive system just listen to GSM network only ?

Thanks in advance

[2014-12-31 21:43] edorexy opened #20 "airprobe_rtlsdr.py"
Hi,

I have tried to use airprobe_rtlsdr.py with the errors below and with a couple of test captures I did but nothing appears on wireshark listenning on lo, maybe im missing something?

linux; GNU C++ version 4.8.2; Boost_105400; UHD_003.008.001-42-g8c87a524

gr-osmosdr v0.1.4-8-g46bb1ad1 (0.1.5git) gnuradio 3.7.6git-276-gc67281b6
built-in source types: file osmosdr fcd rtl rtl_tcp uhd hackrf bla

[2015-01-02 23:10] ptrkrysik commented on #17
@edorexy I've corrected the error pointed by you. Sample rate is probably different for the file that you've sent. Probably it should be something near to 64.0e6/112. If you send me the file I can test it myself.

[2015-01-02 23:56] ptrkrysik commented on #20
I don't have funcube so I cannot test what is wrong directly. I think there is some issue with RTL-SDR source and support of funcube dongle. Please try to open airprobe_rtlsdr.grc in gnuradio-companion, play with RTL-SDR source and report results here.

[2015-01-03 00:00] edorexy commented on #20
I have already tried but how do enable the fun cube pro + dongle on osmosdr as this seems to be the problem

Regards,
Edorexy

[2015-01-03 00:01] edorexy commented on #17
This is the normal gsm capture  cfile available on the internet

Regards,

[2015-01-03 00:08] ptrkrysik commented on #20
Try replacing RTL-SDR source with Funcube Dongle Source - remember to set parameters of the source:
-frequency to fc_slider (for the most recent gr-gsm),
-lna gain to g_slider,
-frequency_corr to ppm_slider.

[2015-01-03 00:12] edorexy commented on #20
Thanks for the prompt reply, it's possible you direct me how and where to find this files. I surely do appreciate your help and assistance

Regards,

[2015-01-03 00:12] ptrkrysik commented on #17
I can open the file with following command:
./airprobe_file.py -s 571428.57142857 -i /home/piotr/Pobrane/capture_941.8M_112.cfile.part

[2015-01-03 00:18] edorexy commented on #20
What to do exactly is clear to me, can you direct us?

—
Sent from Mailbox

On Sat, Jan 3, 2015 at 1:08 AM, Piotr Krysik <notifications@github.com>
wrote:

[2015-01-03 00:24] ptrkrysik commented on #20
Please try opening and launching the file attached to this message in
gnuradio-companion. Please report the result (if the program even starts
without error).

[2015-01-03 00:28] ptrkrysik commented on #20
The attachment isn't passing through github...
Please copy the text below and save as airprobe_fcd.grc file:

<?xml version='1.0' encoding='ASCII'?>
<?grc format='1' created='3.7.6'?>
<flow_graph>
  <timestamp>Sat Dec 13 10:49:59 2014</timestamp>
  <block>
    <key>options</key>
    <param>
      <key>id</key>
      <value>airprobe_rtlsdr</value>
    </param>
    <param>
      <key>_enabled</key>

[2015-01-03 00:39] edorexy commented on #17
capture_941.8M_112.cfile  Downloads         Public                Templates
capture.bin               examples.desktop  pybombs               Videos
Desktop                   Music             qthid-4.1-linux-i386
Documents                 Pictures          README.txt
rex@ubuntu:~$ ./airprobe_file.py -s 571428.57142857 -i capture_941.8M_112.cfilebash: ./airprobe_file.py: No such file or directory

[2015-01-03 00:46] edorexy commented on #20
done but

rex@ubuntu:~$ sudo ./airprobe_fcd.grc
sudo: ./airprobe_fcd.grc: command not found

[2015-01-03 00:47] ptrkrysik commented on #20
probably it should be:
[code]
... and then F6 to run it.

[2015-01-03 00:52] edorexy commented on #20
it worked, saw gnu radio companion window

[2015-01-03 00:53] ptrkrysik commented on #17
You are openning from a directory that doesn't have airprobe_file.py file.
To make sure everything works go into gr-gsm source directory (probably pybombs/src/gr-gsm) and do:
[code]

[2015-01-03 00:55] ptrkrysik commented on #20
But after pressing F6 did the flowgraph run or returned some error?

[2015-01-03 01:00] edorexy commented on #20
no errors just the flowgraph window

[2015-01-03 01:02] edorexy commented on #17
done, same results...command not found

[2015-01-03 01:14] edorexy commented on #20
what next? Please

[2015-01-03 01:24] edorexy commented on #17
![capture_941 8m_112 cfile](https://cloud.githubusercontent.com/assets/5991994/5601150/9549c55c-92ef-11e4-8229-bf3569caaf84.png)

[2015-01-03 09:27] ptrkrysik commented on #20
If you can see the flowgraph with Funcube Dongle Source then execute it. You can do by pressing F6. At the bottom you will see messages and - in case of error - error messages.

[2015-01-03 09:52] ptrkrysik commented on #17
Please execute the flowgraph in gnuradio-companion. You can do this for example by pressing F6. At the bottom of the gnuradio-companion window you will see program output messages. In case of errors you will get error messages in there.

[2015-01-03 14:26] ptrkrysik commented on #16
Hi @KALRONG you can receive timeslots other than 0 with the receiver block (there is even not documented yet option to receive other ARFCNs than C0). To see this you can connect bursts_printer directly to the receiver's output. However there are no blocks to decode traffic channels yet.

[2015-01-03 14:26] #16 closed

[2015-01-03 20:23] edorexy commented on #20
Hey, i finally got the funcube pro+ working and the gr-gsm.

But no captured traffic is coming through for wireshark analysis any advise?

thank you for the wonderful support

[2015-01-03 22:30] ptrkrysik commented on #20
Does the view of the spectrum appears when you run the flowgraph? If everything works it should. When you see the spectrum - find C0 GSM carrier like on the video:
https://www.youtube.com/watch?v=Eofnb7zr8QE&feature=youtu.be

When you have it try to move ppm slider into different possitions.

[2015-01-04 12:21] edorexy commented on #20
i see the spectrum flowgraph, i have tried to adjust to numerous frequency ranges as seen in the video but no traffic to view in wireshark.

i have also tried your suggestions as in video no show.

[2015-01-04 12:23] edorexy commented on #20
linux; GNU C++ version 4.8.2; Boost_105400; UHD_003.008.001-42-g8c87a524

gr-osmosdr v0.1.4-8-g46bb1ad1 (0.1.5git) gnuradio 3.7.6git-276-gc67281b6
built-in source types: file osmosdr fcd rtl rtl_tcp uhd hackrf bladerf rfspace
Using FUNcube Dongle V2.0 (hw:1)
INFO: Audio source arch: alsa
Opened: hw:1
Using Volk machine: sse4_1_32
Dongle sucessfully initialized
Result of Action :+++++
FCDAPP 20.03

[2015-01-04 12:31] ptrkrysik commented on #20
What are GSM frequencies in your country?
Typically there is GSM900 band for which the downlink is transmitted
between 925-960MHz.

[2015-01-04 12:52] edorexy commented on #20
i think uplink is 880-915Mhz while downlink 925-960

[2015-01-04 13:12] edorexy commented on #20
i am also trying the downlink freq now!

[2015-01-05 07:23] edorexy commented on #20
I am still unable to get data through, any thoughts?

[2015-01-05 12:11] ptrkrysik commented on #20
Without any additional hints I might not be able to do anything. Can I see a screenshot of a BTS broadcast channel spectrum that you see? Are you able to record as raw signal samples a BTS broadcast channel with your receiver and send it to me (the best is to use some filesharing site and post link here)?

[2015-01-15 05:54] helxsz opened #21 "how to install the gr-gsm on the raspberrypi manually without pybomb"
I have installed gr-gsm on my ubuntu, it works well. now I want to put it into my raspberrypi. I know using pybomb to install it is a easy way, but pybomb needs to download and recompile everything, which it is too slow for me. I have installed compiled gnu-radio into the PI,  which is much quicker installation. In my previous gr-gsm installation, I have also installed a gnu-radio on my ubuntu, bu

[2015-01-15 22:13] ptrkrysik commented on #21
Hi @helxsz. I've changed installation description to the one with use of pybombs for easiness for the user. Maybe I will add more general installation again then. If you want to install gr-gsm you might follow instructions from the older readme:
https://github.com/ptrkrysik/gr-gsm/blob/72f22649686b77ca4fb877e66809283731e95c2a/README.md
Basically you have to install all required software (mainly gn

[2015-01-15 22:16] ptrkrysik commented on #20
@edorexy, I'm closing the issue until you provide me additional info on what is wrong. I have report that there is something wrong with reception with use of Fun Cube dongle. It would be great if you could send me a file with raw samples for tests - it could help fix the problem for all users using Fun Cube dongle.

[2015-01-15 22:16] #20 closed

[2015-01-15 22:18] ptrkrysik opened #23 "Gr-gsm doesn't work with Fun Cube dongle"
Hi all,

I've reports that gr-gsm doesn't work with Fun Cube dongle. I would greatly appreciate confirmations from other sources and captures of raw GSM signal, sou I could debug the problem.

[2015-01-16 12:17] edorexy commented on #20
Ok, please kindly recommend an RTL-SDR model that works perfectly. Awaiting your kind response.

[2015-01-16 17:45] ptrkrysik commented on #20
You can use RTL-SDR with R802T demodulator chip. It will let you receive GSM900 band. To get also GSM1800 band you will need RTL-SDR with Elonics E4000 chip, which is much more rare and more expensive option.

[2015-01-16 17:46] ptrkrysik commented on #20
But consider helping with making Fun Cube Dongle work - I've filled an issue #23 to work on this

[2015-01-16 19:19] dmaynor commented on #23
There are two models, any details on which?

[2015-01-17 14:59] ptrkrysik commented on #23
Oh, it might explain quite well why it doesn't work :). I'm closing the issue then.

[2015-01-17 14:59] #23 closed

[2015-01-19 23:50] helxsz commented on #21
Thanks, @ptrkrysik , it works well for me.

[2015-01-19 23:50] #21 closed

[2015-01-25 10:50] marcocod opened #25 "Installing error"
I tried to install gr-gsm on debian 7.8 following the instructions and I got the error:

--------------------------------------------------------------------------------------------------------
Installing packages:
* hackrf
* autoconf
* libtool
* automake
* libosmo-dsp
* gr-iqbal
* bladeRF
* gr-osmosdr
* liblog4cpp
* gr-gsm
Installing from source: hackrf
-- Could NOT find PkgConfig (missing:  PKG_

[2015-01-26 10:03] helxsz commented on #18
@ptrkrysik, how would parse the downlink control control information, I know wireshark could help us to decode, but I want to use the results in my python program. Is there any thing available to decode without wireshark or pipe the wireshark results to my python program. What I want to see from the control channels, is what frequency channels they are using at the moment, blabla.

[2015-01-26 10:20] ptrkrysik commented on #18
@xsz Currently there is no such capability. If you look for example into
extract_system_info_impl.cc (it looks into System information messages
that might be useful to do what you want) or tmsi_dumper_impl.cc you can
see that currently interpretation of layer 3 messages content is done by
hand on case by case basis. To have framework for message interpretation
would great. I don't know yet how to

[2015-01-27 20:37] marcocod commented on #25
I installed pkg-config with the command

sudo apt-get install pkg-config

I thought that pybomb was able to resolve any dependencies.

[2015-01-27 20:37] #25 closed

[2015-01-28 17:20] u581 commented on #11
Hello my hackrf not working with gr-gsm. No gsm data only Using HackRF One with firmware 2014.08.1
Using Volk machine: avx_64_mmx_orc
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
Rtl sdr dongle work fine.
help me please with hackrf.
thx

[2015-01-29 09:51] ptrkrysik commented on #11
These 'OOOO' means that there is probably some problem with
communication with HackRF. Overflows usually happen when computer can't
consume samples from a receiver. It's strange however that rtl-sdr
works. Can you check that your HackRF works with some example? You can
for example open airprobe_rtlsdr.grc in gnuradio-companion and remove
everything beside fft gui sink and osmosdr source (in case y

[2015-01-29 10:14] u581 commented on #11
Thanks for the reply. Yesterday I reinstalled ubuntu 14.10 and all work fine.But i dont understend why rtl decodes all channels, hack only some hack
Thx

[2015-01-29 10:51] ptrkrysik commented on #11
If you send me GSM signal recorded with HackRF, I can look into it to
find the cause of the problem.

[2015-01-29 11:24] u581 commented on #11
Can you help me and explain how to do this?

[2015-01-29 13:04] ptrkrysik commented on #11
First you need to locate some GSM C0 frequency. You can do this with use
of airprobe_rtlsdr.py and your RTL SDR device. The frequency for which
you see content of messages printed on the output is a good one. Write
it down.

Then download the file  and save it as receive_to_file.grc:
https://app.box.com/s/j93b56tgply596af0qbbii2octds2lka
Open it in gnuradio companion. Set value for parameter fc (d

[2015-01-29 13:36] u581 commented on #11
I'm so sorry, if gain-my bug, all wark fine

[2015-02-03 17:37] hackterr opened #26 "Decode & Decrypt"
Any plans to work on receiving other than 0 TS, decode & decrypt ?
I would like to contribute.

[2015-02-04 17:09] edorexy commented on #17
Hi, coming back to my project today. I have started receiving "runtimeerror audio_alsa_source"

what is your recommendation i do, thank you in adavnace

[2015-02-05 12:09] ptrkrysik commented on #17
I'm completely puzzled by this - the airprobe_file.py doesn't use alsa
source at all. Do you get any other errors/indications of what might be
wrong?

[2015-02-05 12:59] edorexy commented on #17
me too, what do suggest i do now?

[2015-02-05 13:04] ptrkrysik commented on #17
I need a way to reproduce your problem. Tell me all the details what
operating system you have (distribution, version). How you installed
gr-gsm. How are you running it airprobe_file.py. Everything.

Try also running airprobe_file.grc in gnuradio companion. Give me all of
the output after running it.

[2015-02-05 13:06] edorexy commented on #17
i am using vmware ubuntu 14.04, the run-time error occurs when running airprobe_file.grc in gnuradio companion.

[2015-02-05 13:13] ptrkrysik commented on #17
This information doesn't help in any way. I have also Ubuntu 14.04 and
don't get any of such errors. Remove gr-gsm and gnuradio before and try
to install it again using pybombs. If you will want me to help you will
also have to give me much more information. I can't guess what happens
on your system.

[2015-02-05 13:32] edorexy commented on #17
i can arrange a team-viewer access to the machine, if you can agree an appropriate date/time that is convenient for you.

[2015-02-07 12:02] edorexy commented on #17
Hello, I have had some luck fixing the issue and now needs to pipe data output into file and make a capture file...kindly assist!

[2015-02-07 17:49] ptrkrysik commented on #17
Find a frequency for which you are sure that it's gsm broadcasting
channel central frequency. It should be in range from 925e6 to 960e6 Hz.
You can use airprobe_rtlsdr.py for it, as it have simple spectrum plot.
The broadcasting channel should have constant amplitude all the time.

In the attached flowgraph:

Dodatkowy załącznik dla tej wiadomości:
airprobe_rtlsdr.grc
<https://app.box.com/s/1u05pd

[2015-02-07 18:04] ptrkrysik commented on #26
There's a lot of plans but the time that I can dedicate to the project is too limited to complete them all as fast as I would like. I'm happy to hear about your proposition of help.

What you need to know to start? I've already prepared decryption block (I will post working version soon). There is decoding for control channels. What is really needed now is a decoding block for traffic channels and

[2015-02-13 15:45] themullet opened #28 "No module named grgsm"
Hi there, just tried installing using:

sudo ./pybombs install gr-gsm

When I go to run airprobe_rtlsdr.py getting the error:

Traceback (most recent call last):
  File "/home/steveswallow/target/bin/airprobe_rtlsdr.py", line 19, in <module>
    import grgsm
ImportError: No module named grgsm

Same thing with airprobe_file as well.

My python version is Python 2.7.6.

Cheers

[2015-02-15 09:46] ptrkrysik commented on #28
Do you have /usr/local/lib/python2.7/dist-packages/grgsm directory?
try also:
sudo ldconfig

[2015-02-17 13:54] themullet commented on #28
perfect, got it, moved package to that directory and also moved libgnuradio-gsm.so and worked perfectly. Thanks for the help.

[2015-02-17 13:54] #28 closed

[2015-02-26 10:34] pwns4cash opened #29 "Does not work for me."
I have followed the directions, yet when I try to run airprobe_rtlsdr.py  the following is returned

Traceback (most recent call last):
  File "/usr/local/bin/airprobe_rtlsdr.py", line 19, in <module>
    import osmosdr
  File "/usr/lib/python2.7/dist-packages/osmosdr/__init__.py", line 45, in <module>
    from osmosdr_swig import *
  File "/usr/lib/python2.7/dist-packages/osmosdr/osmosdr_swig.py"

[2015-02-26 16:16] ptrkrysik commented on #29
gnuradio 3.6.5 is way too old. At least 3.7.3 is required.

Did you use pybombs?

[2015-02-28 01:52] pwns4cash commented on #29
yes I used pybombs

On Thu, Feb 26, 2015 at 11:16 AM, Piotr Krysik <notifications@github.com>
wrote:

[2015-03-03 13:57] romankh opened #30 "system info extractor - arfcn always zero"
In extract_system_info the arfcn is used as id for the chan_info, however gsmtap header->arfcn is always zero in my case, also in Wireshark.

Does this work for you, e.g. do you see valid arfcn values in the gsmtap header ?

[2015-03-10 00:52] epgreen opened #31 "cannot get airprobe to work"
Hello, whenever I start airprobe_rtlsdr.py it opens, but the spectrum doesn't run, and it says it cannot find any compatible devices, due to gnuradio error code 528. I did not install this via pybombs.

[2015-03-10 07:34] ptrkrysik commented on #31
Do you have an RTL-SDR device (or any other supported by Osmosdr source)
connected to your computer when you start the program? If yes: did you
check that it works as SDR device in gnuradio?

[2015-03-10 09:54] epgreen commented on #31
Yes I have an rtlsdr, I was trying to get it to work with that. I also have a hackrf that I haven't tried (didn't think it was supported). The rtlsdr works with gqrx and rtl_power, but I will be making a quick wbfm program on grc to see if that works.

[2015-03-24 10:41] romankh commented on #30
Found out that i needed to set the arfcn in the constructor via cell_allocation

[2015-03-24 10:41] #30 closed

[2015-03-28 17:17] morshed360 opened #32 "403 error"
Installing from source: gnuradio
PyBombs.sysutils - INFO - monitor: Tried command 0 time(s)
Cloning into 'gnuradio'...
fatal: unable to access 'http://www.gnuradio.org/git/gnuradio.git/': The requested URL returned error: 403
PyBombs.sysutils - INFO - monitor: Tried command 1 time(s)
Cloning into 'gnuradio'...
fatal: unable to access 'http://www.gnuradio.org/git/gnuradio.git/': The requested URL r

[2015-04-02 00:59] epgreen commented on #31
Have you been able to figure this out? Still won't work

[2015-04-02 02:31] dmaynor commented on #31
What OS/Version/Gnuradio Version are you using?

[2015-04-02 03:24] epgreen commented on #31
Ubuntu 14.10 primarily, with Gnuradio version 3.7.3.

[2015-04-03 12:41] ptrkrysik commented on #29
Did you install gnuradio with pybombs? If not - try to do that.

[2015-04-03 12:44] ptrkrysik commented on #31
@epgreen  try to run a simple flowgraph in gnruadio with RTL-SDR source and check if it works.

[2015-04-05 23:44] sterces commented on #17
How did you reverse engineer the proper sample_rate for the ...112.cfile ?

If I record from GQRX and capture from UDP to a file, how do I translate the GQRX info to playback by airprobe_file.py.....or to I need an interim conversion???

Any help appreciated.

Sterces

[2015-04-06 07:13] ptrkrysik commented on #17
The 112 value was decimation rate setting for USRP1. The original
sampling rate of that device was 64MHz and after decimation by 112 it gives:
64e6/112 ~= 571428.5714 [Hz]

Regarding the second question - I don't use GQRX and I don't know what
is the format of it's captures so I don't know how it can be done.

However you don't need GQRX to record on a given frequency.
If you have RTL-SDR you can

[2015-04-07 07:22] henrycaga commented on #28
hi, im also getting this kind of error.. i dont have a "grgsm" folder in /usr/local/lib/python2.7/dist-packages

need help. thank you

[2015-04-07 09:08] ptrkrysik commented on #28
If you don't have that directory either you didn't install gr-gsm or made a mistake when configuring pyboms and set installation path into directory other than /usr/local

[2015-04-07 09:08] #26 closed

[2015-04-07 09:09] ptrkrysik commented on #32
There was probably some problem with gnuradio's git server. Try again. If you still see the problem I will reopen the issue.

[2015-04-07 09:09] #32 closed

[2015-04-07 09:11] #17 closed

[2015-04-07 09:12] #13 closed

[2015-04-07 09:13] henrycaga commented on #28
hi sir, thanks for the reply. i forgot to update this. i already installed the gr-gsm by using the /usr/local prefix at pybombs config. its already solved. im now running the gr-gsm on odroid :) thanks a lot sir

[2015-04-07 09:14] henrycaga commented on #28
more power on this code. keep it up. very useful thumbs up to airprobe / gr-gsm

[2015-04-07 15:29] pwns4cash commented on #29
I did.

On Fri, Apr 3, 2015 at 8:41 AM, Piotr Krysik <notifications@github.com>
wrote:

[2015-04-07 16:30] ptrkrysik commented on #29
Run:

gnuradio-companion --version

You should obtain 3.7.x version.
If not - remove other installations of gnuradio (but only if you don't
need them for some other program to work).

[2015-04-09 13:12] romankh opened #33 "ctrl channel demapper - Issue with multiple instances"
I am using a customized variant of airprobe_file with a recorded file of a bts with non-combined channel config.

In GRC, i have two ctrl channel demapper + decoder, one for TS0 and one for TS1.

The demapper config of the TS0 demapper is
timeslot_nr: 0
starts_fn_mod51: [2,6,12,16,22,26,32,36,42,46]
channel_types: [BCCH,CCCH,CCCH,CCCH,CCCH,CCCH,CCCH,CCCH,CCCH,CCCH]

and the config for TS
timeslot_

[2015-04-09 16:07] sv1 opened #34 "Issue with installation"
Hello,

I have followed the installation instructions but it seems that something is wrong. This is the first time I deal with pybombs and I am not sure if everything is correct:

$sudo ./pybombs install gr-gsm
Settled on prefix: /usr/local
Initializing environmental variables...
no existing inventory found, creating an empty one...
value updated
False
None
Loading recipes ...
/usr/local/
Installi

[2015-04-10 09:48] simonepsp opened #35 "gr-gsm is so slow to open the airprobe GUI :("
Hi,
I'm trying to run your gr-gsm python script but it takes a lot to start.

My terminal shows this output for about 15 minutes, then the airprobe GUI appears.

<b>└──╼ $airprobe_rtlsdr.py
linux; GNU C++ version 4.7.2; Boost_105300; UHD_003.008.002-160-g3f0b770a

<b>"gr-osmosdr v0.1.4-16-g61184a19 (0.1.5git) gnuradio v3.7.6.1-327-g1f25ff92
built-in source types: file osmosdr fcd rtl rtl_tcp uhd h

[2015-04-10 11:37] ptrkrysik commented on #35
I have no idea why it might take such long time to start, especially
that I don't observe problem like this on my side. Can you give
information about:
-GNU/Linux distribution that you use,
-GNU Radio version,

Does a simple GNU Radio flowgraph with RTL-SDR source and QT Freq sink
runs ok for you?

[2015-04-10 12:11] ptrkrysik commented on #34
Check if you have:
/usr/local/lib/python2.7/dist-packages/grgsm/
directory after installation.

[2015-04-10 12:15] simonepsp commented on #35
I'm using Parrot OS (debian based) with GNUradio 3.6.5.1.

I tried to run a simple GNUradio flowchart with RTL-SDR,QT freq sink,options,parameter and ranges.
It still run slow... :(

Thanks for your help

[2015-04-10 12:53] ptrkrysik commented on #35
If gnuradio blocks only blocks runs slow on your machine it's clearly
not gr-gsm's fault that it takes very long time for airprobe_rtlsdr
application to start on you machine.

Probably there is some more general issue with running new GNU Radio on
your system.

[2015-04-10 15:17] simonepsp commented on #35
yes, you're right.
I'll investigate on that :)

Thank you for your help ptrksysik. Your gr-gsm is wonderful :)
Bye.

[2015-04-10 17:11] romankh commented on #33
I can provide the grc and a small capture if necessary to reproduce

[2015-04-10 17:44] ptrkrysik commented on #33
Hi @romankh, it would greatly speed up debugging, if you could provide a
sample capture and two flowgraphs where you see difference.

[2015-04-10 17:46] ptrkrysik commented on #35
You can also try installing this docker:

https://github.com/marcelmaatkamp/docker-gnuradio-gr-gsm-ptrkrysik

prepared by @marcelmaatkamp . I want to add this as alternative method
of installation once I figure out what docker really is ;).

[2015-04-10 18:44] romankh commented on #33
Hi @ptrkrysik , here is an archive containing a short cfile and two grc files:

http://www.file-upload.net/download-10531018/grgsm-issue_33.grc.tar.gz.html

How i get the differences:

- Open the first flow graph, where the demapper for ts0 is disabled.
- Run the flowgraph with the provided cfile
- Capture in wireshark and set filter gsmtap.ts == 1
- Here TS1 is decoded correctly, the Sys Info Typ

[2015-04-11 07:12] sv1 commented on #34
Hello Piotr,

pybombs really bombed my system!!! I reversed all installations of pybombs, and followed the good old cmake.

$git clone https://github.com/ptrkrysik/gr-gsm.git
$cd gr-gsm
$mkdir build
$cd build
$cmake ..
$make
$sudo checkinstall make install
$sudo ldconfig

And everything is working perfectly!!!! thanks!!!

[2015-04-11 16:05] #35 closed

[2015-04-11 16:25] ptrkrysik commented on #34
I've added description of manual compilation the the README.md

[2015-04-11 16:25] #34 closed

[2015-04-11 17:56] romankh commented on #33
Ok, i kept overseeing that the channel is assigned before the timeslot condition in universal_ctrl_chans_demapper_impl.cc

I will test tomorrow and commit the modification

[2015-04-12 14:09] romankh opened #37 "Contributions"
Hi @ptrkrysik,

i would like to contribute to gr-gsm, and have a few questions:

* Do you prefer having an issue for every pull request ?
* Do you prefer one pull request for every bug fix / feature / ... or an aggreation into one pull request
* Have any limitations / rules / style guides ?
* Do you support issue assignments to users ? For example, i recently implemented a demapper for TCH/F, and

[2015-04-13 07:42] ptrkrysik commented on #33
Many thanks for fixing this bug @romankh ! I'm closing this issue for now, as your contributions should fix this problem.

[2015-04-13 07:42] #33 closed

[2015-04-13 08:14] ptrkrysik commented on #37
Hi @romankh

First I would like to thank you for your contributions. I want to keep you as contributor so if you have any questions regarding the code - just ask:

* I prefer to have issue per bug before pull request is filled.
* I prefer to have pull requests that address the same problem/feature.
* As for the style I'm trying to keep to gnuradio's coding guide
https://gnuradio.org/redmine/projec

[2015-04-13 11:44] romankh commented on #37
Thanks for the clarifications.
I will open issues for the TCH/F demapper and decoder later this afternoon.

[2015-04-13 11:44] #37 closed

[2015-04-13 13:50] romankh opened #38 "TCH/F demapper block"
Hi @ptrkrysik,

as mentioned in an other conversation, i started an implementation of a demapper block for TCH/F.
I orientated the implementation very much on your universal_ctrl_channel_demapper.

Here some of the cornerstones of my approach:
* The demapper is not as general as universal_ctrl_channel_demapper, i dont built any configuration options in. So one cannot configure the channel types in

[2015-04-13 14:28] ptrkrysik commented on #38
I think it is right direction - first to place focus on TCH/F channels
decoding and only after that to think about something else, like channel
hopping or decoding of other traffic channels.

Separation of traffic channels flow and control channels to separate
outputs is exactly how I thought I would have done that.

The decoding of FACCH and SACCH can probably be done by current control
channels

[2015-04-13 14:59] romankh commented on #38
Yes, you are right, 24 bursts.

I prepared myself a capture using OpenBTS, so for the moment this should be sufficient, thank you.

FACCH and SACCH are already working, the ctrl channels decoder is decoding the bursts properly. Only traffic is untested so far.

The code needs some clean up, afterwards i could push it as a first implementation.

[2015-04-13 16:30] amlwwalker opened #39 "GR-GSM usage"
Hi I have the bladeRF and I am trying to collect some GSM data.
I have run `airprobe_bladerf.grc` and `airprobe_rtlsdr.grc` and I get the gui and I can see the 'wave' appear so I know my bladeRF is responding.
I don't get a stream of data appearing in my terminal however, and I dont see anything in wireshark. I think I have a base frequency at 960Mhz, but I was wondering if there is a clear way of

[2015-04-14 08:40] romankh commented on #39
Hi,

my suggestions:

* try to find a frequency where you _know_ that there is a C0 of a BTS.
For example, on some Samsung phones you can use the USSD code `*#0011#` to display a service menu with e.g. BcchFrq where your phone is camping on. Then you take that ARFCN number and feed it to an ARFCN calculator to get the right frequency.

* Tune to that frequency and try to find the right ppm and gai

[2015-04-14 20:11] ptrkrysik commented on #39
Hi @amlwwalker ,

Generally if there is synchronisation with a BTS you should see immediately messages printed on the standard output (as @romankh has written). If you still have problem you can send few seconds of raw signal to me and I will check if there are no issues with it. Some people reported high DC offset on bladerf. The solution might be to gather signal on immediate frequency or to use

[2015-04-15 11:24] pawelbytniewski opened #41 "GSMTAP Signal Level = 0"
Hi,
I've been using gr-gsm for a while now on E4000 based dongle and it's great, however when I'm looking at packets in wireshark every single one of them has signal level equal to 0 in GSM TAP header. Is that intended? (NSR values range from 220 to 228)

[2015-04-15 19:34] ptrkrysik commented on #41
There are two factors in here. First: SNR and signal level in Wireshark are swapped in relation to gsmtap.h header.

Second - SNR is not computed in gr-gsm as I didn't come up with any algorithm to do this yet. Signal level is computed - but it's not calibrated value in absolute units yet.

[2015-04-16 19:44] ptrkrysik commented on #38
The SACCH decoding with use of demapper coded by you works. I've checked it using test data that I prepared for airprobe years ago:
https://svn.berlin.ccc.de/projects/airprobe/raw-attachment/wiki/DeModulation/piotr_downlink_second.tar.bz2

and this flowgraph:

https://app.box.com/s/sd5ckfkq2ptno2fdpbaxr23b151yqib5

I'm not able yet to get Wireshark to interpret the data correctly.

[2015-04-16 20:20] ptrkrysik commented on #38
When I set sub_type to 0x86 (header->sub_type = 0x86;) messages get interpreted correctly.
However I don't know where and by who such type was defined.

[2015-04-16 20:21] romankh commented on #38
I tested your flowgraph with your data, i just added a burstprinter to the tch-output, and ran it from the companion.
Looks good for me, i have system information type 5, 5ter and 6.
In system information type 6 i see the cell identity and location area id as described in second.description

[2015-04-16 20:29] romankh commented on #38
Ok, i had a similar issue in wireshark with the correct channel types.
0x86 should be SACCH of an SDCCH Channel, not for TCH. At least i believe so.

This is how it looks for me:

![sysinf6](https://cloud.githubusercontent.com/assets/1597874/7190598/a1615dde-e487-11e4-9465-006256ca04c4.png)

However i did a while ago an update of wireshark, i currently have version 1.12.1
Also, a time ago i stumbl

[2015-04-16 20:39] romankh commented on #38
Sorry, to answer your question:
I believe 0x86 is `GSMTAP_CHANNEL_ACCH|GSMTAP_CHANNEL_SDCCH` and 0x89 `GSMTAP_CHANNEL_ACCH|GSMTAP_CHANNEL_TCH_F`
I saw this useage also either in the code of libosmocore or the wireshark dissector

[2015-04-16 21:19] ptrkrysik commented on #38
Sorry, looks like false alarm on my side. I turned back the sub_type to
the one you set and everything works ok.

However gsmtap.h header need to be updated if there is some newer
version available.

[2015-04-21 18:15] ptrkrysik opened #42 "Enhancement proposal: Addition of blocks for storing/reading received bursts to/from a file"
Offer for someone who wants to get taste of gr-gsm development but don't want to start with something overly complicated:

Currently storing of data is done by saving/reading raw signal to/from a file with use of gnuradio's file sink/source blocks. It is good method for testing the receiver, but it takes too much space during normal operation. Also there are many situations in which someone might

[2015-04-21 20:17] ptrkrysik commented on #29
I'm closing this issue for now. If you still have problem, please provide some specific information that will help me too debug the problem. I will reopen it then.

[2015-04-21 20:17] #29 closed

[2015-04-21 20:22] ptrkrysik commented on #31
I'm closing this issue for now. I will reopen it if you provide morel info for so I can find source of the problem. Without it I can only guess what exactly problem you might have.

[2015-04-21 20:22] #31 closed

[2015-04-25 01:23] csvendsen opened #43 "OS X compile"
Could not compile under OSX without  changing
decryption_impl.cc
- bool uplink_burst = (be16toh(header->arfcn) & 0x4000) ? true : false;
 +bool uplink_burst = ((header->arfcn) & 0x4000) ? true : false;
bursts_printer_impl.cc
 - frame_nr = be32toh(header->frame_number);
  + frame_nr =  (header->frame_number);

[2015-04-25 12:41] ptrkrysik commented on #43
Hi @csvendsen ,

Thank you for the information.

After making the change mentioned by you everything compiles on OSX?

To fix the problem the change will be a little bit more complicated than proposed.
The function be16toh plays important role and it should be replaced by a portable version.

[2015-04-26 02:12] csvendsen commented on #43
Yeah after making the changes above it would compile but i cannot confirm if it worked as i had some other issues with gnuradio. Ill post back a report once i get everything running and ill try to compile again with the update.
Thanks Chris

[2015-04-27 17:55] romankh commented on #38
Hi @ptrkrysik,

just for your information, i am still after that feature, but i am kind of busy until 08.05., thats why there is not much happening at the moment. I think i can finish the demapper until 08.05., after that i will have more time for the decoder.

[2015-04-29 07:33] mrtylmz1007 commented on #30
Could you explain in detail please? I face this problem too and I couldn't solve it yet

[2015-04-29 08:17] romankh commented on #30
Open the flowgraph in Gnuradio Companion, and double click the GSM Receiver. There you can set the property cell allocation. Set the ARFCN inside the brackets, like `[29]` for ARFCN 29.

[2015-04-29 08:19] mrtylmz1007 commented on #30
Thanks a lot

[2015-04-30 05:40] ptrkrysik commented on #43
The problem should have been fixed by martinjlowm patches. I can't test it as I don't have OS X. Please keep me posted if it compiles for you.

Also - how you compile gr-gsm under OS X?

[2015-04-30 16:19] tankaiha opened #45 "Error in Parrot Security OS."
I just installed Parrot Security OS, which based on Debian, and use MATE desktop environment.
After install gr-gsm using pybombs, and run airprobe_rtlsdr.py, it says:

┌─[root@parrotsec]─[/usr/local/bin]
└──╼ #./airprobe_rtlsdr.py
linux; GNU C++ version 4.9.2; Boost_105500; UHD_003.009.git-144-g407e3086

gr-osmosdr v0.1.4-21-gbe9af0fe (0.1.5git) gnuradio 3.7.8git-129-gefd2116f
built-in source type

[2015-05-03 00:12] Rajnish357 opened #46 "Error during install: fatal: reference repository"
Hello Everyone,
I am first time working with pybombs and facing this error while gr gsm installation:---
Using gitcache at /usr/local/
fatal: reference repository '/usr/local/' is not a local directory.
fatal: reference repository '/usr/local/' is not a local directory.
fatal: reference repository '/usr/local/' is not a local directory.
______
This is what my pybombs setting looks like:
Settled on

[2015-05-04 06:25] ptrkrysik commented on #46
@Rajnish357  gitcache option is strange for me. If also don't know what it is for - try removing it.
This is content of my pybombs config.dat:
[code]

[2015-05-04 06:32] ptrkrysik commented on #45
Looks like issue #35. This is probably general problem with new GNU Radio and Parrot OS which hangs up for few minutes before starting GNU Radio application. I don't have solution for it yet. I think the best place to ask is GNU Radio's mailing list (gnuradio-discuss https://gnuradio.org/redmine/projects/gnuradio/wiki/MailingLists).

[2015-05-04 06:35] ptrkrysik commented on #38
Hi @romankh ,
Thanks for keeping me informed. I the meantime I did some experiments with receiving uplink data and I got first decoded messages by only slightly changing the receiver block.

[2015-05-04 07:20] eidlyn opened #47 "[Failed] $ sudo ./pybombs install gr-gsm"
I was installing the file, and the build failed. These are the last few lines that were outputted to the screen:

[100%] Building CXX object gr-trellis/lib/CMakeFiles/gnuradio-trellis.dir/siso_f_impl.cc.o
[100%] Building CXX object gr-trellis/lib/CMakeFiles/gnuradio-trellis.dir/siso_combined_f_impl.cc.o
Linking CXX shared library libgnuradio-trellis-3.7.8git.so
[100%] Built target gnuradio-trellis

[2015-05-04 16:35] dmaynor commented on #43
Im compiling it under OSX now. @csvendsen  do you use Mac Ports, Homebrew or Xcode?

[2015-05-05 12:07] Rajnish357 commented on #46
Thanks  alot @ptrkrysik Your soulution worked and solved the problem.

[2015-05-05 12:07] #46 closed

[2015-05-05 12:15] Rajnish357 opened #48 "After installing gr-gsm can't start it, ImportError libgnuradio-osmosdr"
Hello everyone,
Even though this was my first time install with pybombs I somehow completed with the help of @ptrkrysik but after successful install I couldn't run gr-gsm with command:
`airprobe_rtlsdr.py`

it is giving this error output:
[code]

Please someone tell me how can I solve this issue ? I have already tried removing osmosdr package and reinstalling it.

[2015-05-05 12:24] ptrkrysik commented on #48
Try to run:
[code]
maybe it will help.

[2015-05-05 13:15] Rajnish357 commented on #48
Sorry @ptrkrysik it didn't helped, still same error

[2015-05-06 00:54] csvendsen commented on #43
Im using homebrew but still having issues with gnuradio and multiple python versions to be honest i haven't had a free moment to work on it yet. Put ill post an update when i can. Thanks

[2015-05-06 11:11] tankaiha commented on #45
thx :)

[2015-05-06 16:16] ptrkrysik commented on #48
What operating system/distribution do you use?
The problem is strange for me because it is caused by some issue with osmosdr - which is not my code.

[2015-05-06 16:19] ptrkrysik commented on #43
Hi David,

Can you tell how you compile/install gr-gsm (and requiered software) on OSX?

[2015-05-06 19:21] Rajnish357 commented on #48
Oh I didn't knew about that, by the way I am using I'm using Kali Linux 1.1.0a Latest release 32 Bit Version.
Any suggestion, where should I look for help regarding this ?

[2015-05-06 19:59] Rajnish357 commented on #29
@pwns4cash did you found any solution ?

[2015-05-06 20:35] dmaynor commented on #43
I am running the latest 10.10.3 on a Macbook pro.
$ uname -a
Darwin Davids-MBP.hsd1.ga.comcast.net 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05 PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64

I have Macports installed. This required Xcode and the Apple X11 server (https://xquartz.macosforge.org/landing/) to be installed.
$ port
[Users/dmaynor] > version
Version: 2.3.3

I used ma

[2015-05-06 20:37] dmaynor commented on #43
@csvendsen are you using virtualenv?

[2015-05-08 04:25] NinjaComics commented on #48
ping the gnuradio devs on freenode @Rajnish357

[2015-05-08 07:41] ptrkrysik commented on #48
**Do you remember if you did you run**:
[code]
command?

**You shouldn't** - the command enables pybombs to look for the packages in the distribution's repository. Kali linux has too old gnuradio in repository. Current version of GNU Radio should be built from source.

[2015-05-11 18:54] romankh opened #50 "Proposal: TCH/F decoder"
Hi @ptrkrysik,

today i did a quick&dirty integration of airprobe's approach to TCH decoding.
Did a quick test with a GSM-FR capture sample, did work well. Voice was very well recognizable, but not very good quality. Probably because it is just FR.

So, here my thoughts about the decoder:

* Feature set:
    * one port in with bursts from demapper
    * one port out, if we handle the whole FACCH i

[2015-05-12 21:31] ptrkrysik commented on #50
I will write regarding parts where I have comments. With the rest I agree without questions.
Regarding feature set:
-"one port out, if we handle the whole FACCH in the TCH-decoder, as in airprobe"
I'm not sure if integration of FACCH decoding in the same decoder is required. If strict synchronization between FACCH and TCH is not needed I would opt to keep them separate.

There is something in gnur

[2015-05-12 22:47] Rajnish357 commented on #48
@ptrkrysik @NinjaComics Nothing helped still same error
So, i decided to do it on fresh kali install but during install stuck at:
[code]

[2015-05-13 17:58] romankh commented on #50
I think there is no need for us to keep them synchronized, but as FACCH is just a stolen TCH message they come together. So we could handle them together.

You mentioned a change of the interfaces in #49, using 2 data blocks instead of each burst. But i am not sure, how this would help. My problem with FACCH is, that a message is transported in 8 bursts instead of 4, and there are differences in t

[2015-05-13 20:03] ptrkrysik commented on #50
A given FACCH message is carried in 8 consecutive bursts. In each  burst
one of the halves contains the message - because of interleaving that is
used. Other control channels are carried by 4 consecutive bursts in both
halves (there is no block interleaving). In both cases there are in
total 8 blocks carrying a message - so there is possibility to have one
control channels decoder expecting at the

[2015-05-14 07:47] romankh commented on #50
Hmm, my understanding of the specification of FACCH was like:
if the stealing bits are set, take the even bits of the first 4 bursts, and the odd bits of the last 4 bursts.
I got this from GSM 05.03, in 4.2.5.

Anyway, i'll investigate issue, and then decide between the configurable control channel decoder and the integration with TCH decoder.

[2015-05-14 13:12] ptrkrysik commented on #50
Your understanding is good - mine was wrong (in the part how block diagonal interleaving works).
From GSM 05.03 3.1.3:
i(B,j) = c(n,k),
for k = 0,1,...,455
n = 0,1,...,N,N+1,...
B = B0 + 4n + (k mod 8)
j = 2((49k) mod 57) + ((k mod 8) div 4)

The "((k mod 8) div 4)" is responsible for what you are talking - it is 0 for the first four bursts and 1 for the last four bursts. In light of this single b

[2015-05-14 13:20] ptrkrysik commented on #48
The qt4 recipe in pybombs directs to not existing nokia ftp.
Change pybombs/recipes/qt4.lwr, line:
[code]
to
[code]
and try again.

[2015-05-14 16:22] #41 closed

[2015-05-14 20:43] Rajnish357 commented on #48
@ptrkrysik
[code]

[2015-05-15 06:33] ptrkrysik commented on #48
This is issue with pybombs. I've filled issue on their github page. Workaraound would be probably to compile qt4 manually:
cd pybombs/src/qt4
./configure --prefix=/usr/local/ -opensource --confirm-license -L/usr/local//lib -L/usr/local//lib64 && make && make install

Then add qt4 to in pybombs/config.dat to forcepkgs:
forcepkgs = qt4

and then do:
./pybombs install gr-gsm

[2015-05-18 08:04] mrtylmz1007 commented on #18
Hi, I am also learning the GSM process. I am able to decode and interpret system information messages by gr-gsm. Now, I'm gathering gsm signals from the air. I am able to identify frequency correction burst. Also, I can decode the synchronization channel and obtain bsic etc. However, the problem arises here. Since the gathered signal is limited (about 15 frames instead 51 frames), I do not know ho

[2015-05-18 12:27] rpp0 opened #51 "Proposal: channel hopping"
Dear all,

I'm trying to implement real time channel hopping for gr-gsm. Here are some approaches that I considered:
* Capture a wide portion of the spectrum, channelize using the Polyphase Channelizer block and then parse all channels simultaneously similar to how it is done in this project: https://github.com/BogdanDIA/airprobe-hopping. The disadvantage of this approach is that doing this in rea

[2015-05-18 14:29] romankh commented on #51
Hi @rpp0,

this is great to hear, as this is also a high priority feature for me.

I didn't test it yet, but @ptrkrysik already implemented capturing of multiple channels, so you wouldn't have to implement that again. Maybe it needs some improvements, @ptrkrysik can clarify.

What do you mean, you have an Immediate Assignment, which assigns a hopping SDCCH ? Decoding of SDCCH is already working fi

[2015-05-18 15:44] rpp0 commented on #51
Hi @romankh,

Thank you for your fast reply!

Do you mean the `d_cell_allocation` parameter of the GSM Receiver block? I tried putting a list of ARFCNs in it and got a segfault after a few seconds (master branch, both absolute and relative ARFCNs), so I assumed it was some kind of experimental feature. Will do some more tests tonight to see why this happens. I can provide an example cfile so you c

[2015-05-18 15:58] akibsayyed opened #52 "Unable to decode DCS or PCS"
Dear Piotr

I am testing your implementation on DCS, PCS it used to work before but latest build is not working

[2015-05-18 16:08] romankh commented on #51
d_cell_allocation is part of it, also i believe Cx is supposed to deliver all other channels than C0. I didn't look so much into the receiver code, probably num streams also plays a role.

But I didn't try the feature yet, wait for ptrkrysik's response.

I am not 100% sure, but I dont think it would be easy in Gnuradio. I read a paper where the authors analyzed the ability of UHD with regards to f

[2015-05-18 16:33] akibsayyed commented on #50
Guys I can provide you people with EFR and FR decode code based on libosmocore

[2015-05-18 17:24] romankh commented on #50
Hi @akibsayyed,

thanks, but i have FR and EFR mostly done.
But if you like, you can add more AMR bit rates to decoding, currently I have AMR 12.2 untested, would be nice to have decoding of lower bit rates as well.

[2015-05-18 20:15] rpp0 commented on #51
Yes you're right, real time processing is not really required and it's probably easier to just capture all channels. I'll try to implement the hopping block you suggested in order to learn a bit more about GSM, but you'll probably beat me to it given your experience ;). Do you guys happen to have an IRC channel or Skype for discussing GSM perhaps?

[2015-05-18 20:52] ptrkrysik commented on #51
I've started implementing receiver's side for the situation when there are all channels needed for frequency hopping available simultaneously. To configure the receiver to receive channels other than C0 you need to give number of channels (including C0) and list of ARFCNs (with C0 first). The list is used to set IDs in burst headers with intention to give information needed by a block that will re

[2015-05-18 21:25] rpp0 commented on #51
Hi Piotr,

Thank you for clarifying and for the useful information regarding frequency switches. I will try receiving multiple channels simultaneously tomorrow, but this will not be easy to verify. In my case all channels but C0 appear to be hopping and there is a significant gap between them, so the easiest way to test seems to create seperate cfiles for all involved ARFCNs like in Bogdan's airpr

[2015-05-19 06:08] ptrkrysik commented on #51
This is how I did my tests also - first I extracted all needed channels into files and then I connected file sources to inputs of the receiver. I can dig this code and test data out if you like to see it or work on this functionality.

[2015-05-19 06:16] ptrkrysik commented on #18
Why you have only 15 frames? If these are arbitrary 15 frames there is good chance that you won't get the right frames.

If you read synchronisation burst - you get current frame number in form of three timers. You should use them to synchronise your own frame counter. When frame number modulo 51 is 2..5 - you have the BCCH channel bursts in the first timeslot.

[2015-05-19 06:23] ptrkrysik commented on #52
@akibsayyed this is strange as DCS and PCS are exactly like GSM900 - just on different carrier frequency. Are you able to point the commit number or at least quite precise date when it worked?

[2015-05-19 06:27] akibsayyed commented on #52
I tried it approx in august 2014 it was working. I will send you cfile for
same today.

On Tue, May 19, 2015 at 11:53 AM, Piotr Krysik <notifications@github.com>
wrote:

--
Akib Sayyed
Matrix-Shell
akibsayyed@gmail.com
akibsayyed@matrixshell.com
Mob:- +91-966-514-2243

[2015-05-19 07:29] rpp0 commented on #51
If you have the time to help me then sure, thanks! In the meantime I will create my own test data.

[2015-05-19 10:15] ptrkrysik commented on #52
This is problem with DC offset of your hardware.  For example it can be tackled by inserting DC blocker block between signal source and the "GSM input adaptor".

[2015-05-19 15:05] rpp0 commented on #51
I had less time today than expected, but I created a channelized data set and managed to receive multiple streams simultaneously. SDCCH reception is working fine, but I'm still working on getting data from the hopping CX channels.

[2015-05-19 15:25] akibsayyed commented on #51
Can u share your GRC for same
On May 19, 2015 8:35 PM, "rpp0" <notifications@github.com> wrote:

[2015-05-19 18:43] phocean commented on #28
Hi guys,

I also had this issue on Fedora, but the solutions I have seen so far in this thread are not optimal.
If the libs are not found on your system, then you need to adjust your environment.

Concerning the libs, make sure that ldconfig works against the local folder.
Just add the path to /etc/ldconfig.conf, or, better, create a simple file like this:
[code]

Similarly for Python, add the fol

[2015-05-20 07:36] ptrkrysik commented on #51
The example for receiving hopping channels in a downlink:
https://app.box.com/s/q54hi5vbe2oijo3fandabazxoj5id1t5

Associated files containing separated channels:
https://app.box.com/s/9p8i59avdwhqt6domdet
https://app.box.com/s/d43jwdf25boqnsx81usp
https://app.box.com/s/6p37v08kgnd9n0th5axg
https://app.box.com/s/b8aegzyq6mg3ma1eyd5r
https://app.box.com/s/6wa2uz6q0fvm5pvjwjkt
https://app.box.com/s/q

[2015-05-20 19:25] rpp0 commented on #51
My flowgraph for extracting a given channel from a wideband file looks similar to yours, except I used the xlating FIR filter. I was a bit confused by the clock offset corrector part (I understand the filtering) of the GSM Input Adapter block: why does it need the C0 frequency and not a CX frequency? Anyway, now comes the hard part: assembling the bursts. This might take me a while but I feel like

[2015-05-20 19:45] ptrkrysik commented on #51
The aim of GSM Input Adaptor is to put together few functions that usually need to be done before the signal enters the receiver:
-clock offset correction,
-filtering.

I've put this functions into one hierarchical block only because in multichannel receiver block realizing these functions would take too much space on the screen.

Regarding the question about why clock offset corrector needs C0 ch

[2015-05-21 15:18] rpp0 commented on #51
What I meant was that in your example, each GSM Input Adaptor block has the same fc setting even though the connected file sources contain different channels. I'm not sure why that is.

Here's what I experimented with today; I hope you don't mind if I update my progress here. Based on the airprobe-hopping code, I made a hacky implementation of channel hopping, but it's not working yet. I must be m

[2015-05-21 16:44] ptrkrysik commented on #51
W dniu 21.05.2015 o 17:18, rpp0 pisze:

The GSM Input Adaptor should get channel frequency - it is needed to
compute carrier frequency offset. What I did there is generally not
correct, but as clock and frequency correction function of these blocks
is not used in that example - it doesn't matter that the value isn't right.

Of course you can writes updates here especially that your work is
perfect

[2015-05-22 06:31] ptrkrysik commented on #52
There might be something wrong with frequency correction. In the file that I downloaded from you (the link is in #53) I found out that I get much better results when I put central frequency 931MHz and not 1931MHz that it was really recorded on. I will look into this issue in the free time.

[2015-05-22 15:14] rpp0 commented on #51
Ok, I made a seperate "Hopping" block with as input all bursts from the CX channels. If I understood correctly, all I have to do is calculate the hopping sequence (using the algorithm from GSM 5.02) and forward the bursts in the correct order to the demapper blocks. For now, I used a fixed MAIO and HSN (which I observed from a Wireshark trace of my test set; the MAIO and HSN seem to be identical f

[2015-05-22 15:31] romankh commented on #42
I haven't look very deep into gnuradio, but as far as I have seen pmt support serialization, so maybe we can just serialize the bursts and write them to the output file, and vice versa

[2015-05-22 17:20] romankh commented on #51
Can you describe your test data, or did you use @ptrkrysik 's data ?
If you provide your flowgraph, I can take a look, maybe two more eyes are helpful.

[2015-05-22 17:40] romankh opened #55 "Proposal: Wrapping universal control channel demapper"
Hi @ptrkrysik,

I'll keep spamming you with issues for a while  :)
We already talked about wrapping the universal control channel demapper.
The issue is straight-forward, I just created 3 Blocks, where I hide the params starts_fn_mod51 and channel_types, and set them to values depending on their usage. The params just go to universal_ctrl_chans_demapper as before.

I have made 3 of them:
gsm_bcch_

[2015-05-22 18:07] romankh opened #56 "Scanning a frequency range"
I would like to easily scan a frequency range for C0s, and extract the most interesting parts of the system information messages

I am aware of the system information extractor, which I probably would extend to extract more information. But what is the Gnuradio-way to iterate through the channels ?
Before I start reinventing the wheel, can this already be done using some default block ? Scanning a

[2015-05-22 18:09] romankh commented on #38
I close this issue, block is implemented

[2015-05-22 18:09] #38 closed

[2015-05-22 18:10] ptrkrysik commented on #42
This would be great. I was looking (maybe not very carefully) for a gnuradio block that does that but I didn't find any. If pmt supports serialization - there should be such block in gnuradio definitely.

[2015-05-22 18:11] romankh commented on #50
I close this issue, as basic implementation is done.
Will open a new issue for improvement of the decoder, e.g. the implementation of (more) AMR-codings.

[2015-05-22 18:11] #50 closed

[2015-05-22 18:14] romankh commented on #42
I also just had a brief research, saw it in some pmt documentation.
Will try it out, then give you feedback

[2015-05-22 18:15] rpp0 commented on #51
Thanks, and sorry if it's something stupid. I'm learning about GSM every day but it's still quite hard to figure things out from the standard. Here is the flowgraph I made: https://github.com/rpp0/gr-gsm/blob/test/apps/airprobe_rtlsdr_multi.grc. I used my own data. The test data properties are shown below. The main ARFCN (non hopping) is channel 975. All other channels are hopping.
![ma](https://c

[2015-05-22 18:32] romankh commented on #51
I don't think you need all those demappers, if I understood you right.

You need only one, where you set the timeslot according to your immediate assignment, in case of the screenshot it's timeslot 7. In this case you have SDCCH/8, so your starts_fn_mod51 should be [0,4,8,12,16,20,24,28,32,36,40,44], and channeltypes is [SDCCH, SDCCH, SDCCH, SDCCH, SDCCH, SDCCH, SDCCH, SDCCH,SACCH,SACCH,SACCH,SACC

[2015-05-22 18:44] rpp0 commented on #56
Not sure whether this is the best way to do it, but you could use the Function Probe block. This block will periodically call a method and assign the return value to a specified variable. In your case you could create a small Python block that increments the frequency variable every time the method is called. This is how I made a spectrum scanner with my SDR some time ago.

[2015-05-22 19:12] rpp0 commented on #51
Thank you, I had a disabled demapper for SDCCH/8 at the bottom of my flowgraph which I tried at some point, but I noticed now that it contains too much SACCH entries. Unfortunately it still doesn't work after the corrections so my assumptions about how hopping works are probably wrong. I'll study some more :)

[2015-05-22 20:59] ptrkrysik commented on #55
I agree that such blocks would be very helpful. First I considered implementing one block for the first timeslot of C0 that would take BS-AG-BLKS-RES, CCCH-CONF and BS-PA-MFRMS (3gpp 04.08 10.5.2.11 Control Channel Description) as parameters and configure itself accordingly. Your approach is simpler and probably it will serve the purpose better.

[2015-05-22 21:15] ptrkrysik commented on #50
It's great work @romankh. I'm able to decode my old test files again :). Feels like when for the when I heard GSM voice data decoded with my gsm-receiver (which I'm not able to compile on my current system) for the first time.

[2015-05-23 06:12] ptrkrysik commented on #51
As @romankh noticed - there is Immediate Assignment that points that there is some SDCCH/8 channel with hoping in timeslot 7. All demappers have parameter timeslot_nr set to 0. You can leave one and change timeslot_nr to 7. If you leave decryption block without key - it just passes bursts from input to the output.

Another thing is to be sure that the receiver detected all bursts needed to decode

[2015-05-23 06:50] akibsayyed opened #57 "AMR Decoding"
@romankh  @ptrkrysik

Here is samples with AMR HR
matrixshell.com/cfile/HR_AMR/HR_AMR_.cfile
matrixshell.com/cfile/HR_AMR/HR_AMR_abis.pcapng
matrixshell.com/cfile/HR_AMR/HR_AMR_s2.pcapng

[2015-05-23 07:30] akibsayyed commented on #57
@romankh @ptrkrysik
Here is samples for AMR FR
matrixshell.com/cfile/amr_call_data/Call_AMR.cfile
matrixshell.com/cfile/amr_call_data/amr.pcap.pcapng

[2015-05-23 12:22] romankh commented on #50
Thank you. I was quite happy when I got it working.

[2015-05-23 12:33] romankh commented on #57
Thanks a lot @akibsayyed, this is gonna be really helpful.

Regarding HR: I will keep going after FR first, as HR would need more work on demapping and decoding, and I am not sure, if HR still plays a major role on modern networks.

The AMR bitrate in the capture you provided is been set to 5.90 kbit/s.
Is it possible to explicitly configure the AMR bitrate in your environment ? If so, it would be

[2015-05-23 13:28] akibsayyed commented on #57
Dont worry I will do it in my free time.

On Sat, May 23, 2015 at 6:03 PM, romankh <notifications@github.com> wrote:

--
Akib Sayyed
Matrix-Shell
akibsayyed@gmail.com
akibsayyed@matrixshell.com
Mob:- +91-966-514-2243

[2015-05-24 15:58] rpp0 commented on #51
Hmm that's strange, I have the bottom two demappers set to timeslot 7 in my file.

That's probably why it's not working yet, I'll try out some new ideas soon :).

[2015-05-25 20:53] ptrkrysik commented on #57
Half Rate is still a bit mysterious for me as I haven't had opportunity to see it in the wild. The literature says that one burst is shared by two different subscribers. For me this is strange as it would mean they both have to transmit burst midamble in the same time. Thanks @akibsayyed for the captures. I will have a look.

[2015-05-26 13:12] rpp0 commented on #51
The GSM receiver block only detects normal bursts for the CX channels at timeslot 0 for my test data (the rest is noise?), but the Immediate Assignments from my test data only assign stations to timeslot 7. Does anyone know why I'm not seeing any frames in timeslot 7? @romankh , @ptrkrysik ?

[2015-05-26 13:25] ptrkrysik commented on #51
It might be hard to say without the test data and your flowgraph. Is it
possible for you to make it public or at leas available to me?

[2015-05-26 14:54] rpp0 commented on #51
Sure, I've sent an email to your Gmail address.

[2015-05-26 19:10] romankh commented on #42
Serialization of pmt isn't a big deal, however i am not sure if it would be possible to have a sync_block have pmt message port in? Also, the Gnuradio BlocksCodingGuide says:

So, do we have any drawbacks if we just stay with gr::block in this case ?

[2015-05-26 19:17] romankh commented on #56
Thanks, I will try that out, but it's what I was hoping to find.
My ideal block would take start freq, end freq, and channel distance, and on execution, it sets the frequency and in the best case the cell allocation, such that I have the arfcn in system info extractor (because it uses arfcn as id for the entries). When it reaches the end freq, execution is terminated.
I will try to find out, if an

[2015-05-26 20:12] ptrkrysik commented on #42
Gnuradio takes care only of sample inputs and outputs to be synchronous
in case of gr::sync_block. So gr::sync_block in case of message only
blocks is no different than gr::block.

[2015-05-26 20:19] ptrkrysik commented on #56
The UHD block (block for controlling USRPs) has message input for commands like "change central frequency". It also emits stream tag when the device switch frequency - although from what I have read on gnuradio mailing list it migh come before PLL on the device finish locking onto the frequency. Maybe with this infrastructure what you want to do would be easier to implement.

[2015-05-27 13:56] rpp0 commented on #51
I finally managed to decode some SDCCH frames on the hopping channels. The problem appears to be that the chans demapper block assumes that all frame numbers are consecutive. However, on p32 of GSM 05.02 it appears that for hopping this is not necessarily true. Below is some example debug output of my solution where I manually assign my own frame number instead of the real frame number. This solut

[2015-05-27 16:11] ptrkrysik commented on #51
Do you mean that bursts oming to the input of the demapper are not
coming in order of growing frame numbers?

The demapper block has support for missing bursts - it just don't send
message in this situation further. This is not 100% optimal as the
decoder could decode correctly when one bursts is missing but at this
stage of project I think it's not most important issue.

However bursts that are n

[2015-05-27 20:12] ptrkrysik opened #58 "Making airprobe more userfriendly"
Currently decoding SDCCH channels or TCH channels requires editing of flowgraphs in gnuradio-companion.
To increase usability addition of parameters for:
-configuring logical channels that user want to get from different timeslots,
-supplying Kc session key,
is needed.

[2015-05-28 07:37] rpp0 commented on #51
The frame numbers are growing, but for example:
[code]

Here, we see a couple of hopping normal bursts in timeslot 0, namely one for frame 1840903 and 1840904. These get forwarded to the demapper. So far so good, but then the next normal burst for the hopping channel arrives in frame 1840936. The demapper would not forward these bursts to the next block because of:

[code]

Then what I did is rewr

[2015-05-28 11:13] romankh commented on #51
Hmm, this would really be surprising to me. It would result in a significant loss of bandwidth for the concerned channels. In figure 5 of GSM 05.02, which you mentioned, they don't describe precisely, what kind of hopping channel is shown. It may also be a SACCH channel, where this behaviour is normal. Search function didn't show me any reference to the figure.

Are you still testing the Immediate

[2015-05-28 11:43] ptrkrysik commented on #51
W dniu 28.05.2015 o 09:37, rpp0 pisze:

To use the data for testing new software you will need to know as much
as possible about it: which timeslots are in use, when, what training
sequences are used - at least for a short part of it. Then it will be
possible to compare if what you see at the output of the receiver is
what you would expect. It is possible that some corrections are needed
in the re

[2015-05-28 12:32] rpp0 commented on #51
@romankh  After some more testing I found that the "gaps" were indeed unrelated, so I was wrong, sorry about that :(.

No, I'm trying to decode a different one now. Here's what happens:
1) On C0, FN 1841187 I receive an Immediate Assignment message to subchannel 0, timeslot 7 using tseq 6. Same MAIO etc as before.
2) The next "normal or noise" frame I get is FN 1841203, followed by 1841204, 184120

[2015-05-28 16:15] romankh commented on #51
Yes, as long as this channel and subslot is assigned, the burst where fn_mod51 is between 0 and 3 are yours.

Still could be coincidence.

It would be easier, if you use @ptrkrysik 's dataset for development, so at least someone could take a closer look on it. This way it is more guessing.

[2015-05-28 17:40] romankh commented on #56
Thanks.
So maybe the easier way is to do it in python.

[2015-05-28 17:40] #56 closed

[2015-05-29 06:10] ptrkrysik commented on #56
Implementing it in Python is good if you can accept that "Run to completion" won't work for your flowgraph (at least until GNU Radio guys fix this issue).

[2015-05-29 06:32] ptrkrysik commented on #51
I started the flowgraph on your test data @rpp0. You can pull one fix from main branch - there was a bug in gsm_input.py - it didn't pass ppm and fc parameter to the clock offset corrector. I also changed fc parameters in gsm_input blocks to exact frequency of your channels. It didn't help much - it seems that the receiver don't detect some of the bursts - hence the gaps that you observe. What is

[2015-05-29 09:48] rpp0 commented on #51
Thanks for the fix! I'll take a look at the amplitude of the input samples and see if I can visually identify the normal bursts.  If the receiver missed some frames I will see what I can do to improve. Maybe tweaking the threshold is enough, I'll test this soon.

[2015-05-30 06:40] ptrkrysik commented on #52
Hi @akibsayyed,

You were right - there was an error. I think I corrected it in this commit:
https://github.com/ptrkrysik/gr-gsm/commit/18f769026cdda9e1bbacd772c5afb277cf56da00

[2015-05-30 15:13] ptrkrysik commented on #51
Hi @rpp0,

I reviewed the code of hopping_impl.cc. In the function processing bursts there is this part:
[code]
The block at this point has state and the state is dependent on next_hop. I think it is not necessary - based on hopping parameters and frame number of the bursts that arrived you can compute arfcn of a burst that can be passed at given moment. If this agrees with arfcn of the burst that

[2015-05-30 17:03] ptrkrysik commented on #51
I suppose this might be the right version:
[code]

with next_hop not removed.

[2015-05-30 20:16] ptrkrysik commented on #42
I think we can close this issue. The blocks implemented by you @romankh  can be probably used for writing/reading any pmt objects.

[2015-05-30 20:20] ptrkrysik commented on #55
I've merged the blocks implemented by you with the mainline. In a free moment I will add them to the current apps instead of Universal demapper.

[2015-05-30 20:20] #55 closed

[2015-05-30 20:22] ptrkrysik commented on #39
I'm closing this issue as I didn't get any reply for over month. If you @amlwwalker send additional data - I will reopen it.

[2015-05-30 20:22] #39 closed

[2015-05-30 20:23] #42 closed

[2015-05-30 20:24] ptrkrysik commented on #45
Hi @tankaiha ,

Do you have any update about grgsm on Parrot OS?

[2015-05-30 20:26] ptrkrysik commented on #47
Hi, somehow I haven't replied yet to this issue. This is some GNU Radio error. Maybe the version at that particular moment didn't compile and now it works? Can you check it?

[2015-05-30 20:27] ptrkrysik commented on #52
I'm closing it for now. If you still have problem I will reopen it.

[2015-05-30 20:27] #52 closed

[2015-06-01 14:19] dsound opened #61 "Make errors when installing with Gqrx PPA install"
Hi All,
I'm rather new to the Linux environment so bare with me. I decided to go the Gqrx PPa route to install gnuradio. When I try to make gr-gsm, I get several errors indicated that the cmake checklist can't find gnuradio and dependencies. Could someone give me exact instructions on how to set the path for gnuradio and cmake modules? Here's the error output:

-- Build type not specified: default

[2015-06-02 16:20] akibsayyed opened #62 "Getting Frame Numbers in CX"
I havent tried to decode multiple Channels with single GSM block but would like to know if we are getting frame number on CX wrt hopping channel.

Also what about timeslot details. are we able to get timeslot details on CX wrt supplied channel

[2015-06-02 16:51] ptrkrysik commented on #62
Bursts coming through CX port have proper frame number and timeslot
number set in their GSMTAP headers. You can connect CX output to PDU
socket sink and observe this in Wireshark or with burst printer.

[2015-06-03 08:06] rpp0 commented on #51
Updating here as well besides some results I discussed with @ptrkrysik via email:
- The CA to receive from should indeed be calculated based on frame number directly (and not from the previous frame number as I initially thought).
- For my own data set, very few bursts are detected at the current CA in the hopping sequence using this method, so no messages get decoded. Perhaps worth noting is that

[2015-06-03 08:54] romankh commented on #51
Hi @rpp0,

I believe you may overestimate my knowledge of gsm, I don't have as much experience as you may think. This is specially true for the radio part.

I lost track of your current status, here just a few thoughts:

* try to sort out things that work as expected with your dataset. I have the feeling that you have to many possible bug sources currently, like there could be a bug in the receivi

[2015-06-03 09:02] romankh commented on #57
@akibsayyed, I am currently working on the integration of AMR-decoding, I came very far, however I am stuck with a problem. Would it be possible for you to record and provide a capture of TCH-F with AMR 12.2 codec for debugging ? That would make it easier for me to track the problem down.

[2015-06-03 09:12] akibsayyed commented on #57
I will check if i can use 12.2 codec  i cannot guarantee that i can give
you samples. but i have working demo of amr5.9 codec decode that i can
share. its complete C code.

On Wed, Jun 3, 2015 at 2:32 PM, romankh <notifications@github.com> wrote:

--
Akib Sayyed
Matrix-Shell
akibsayyed@gmail.com
akibsayyed@matrixshell.com
Mob:- +91-966-514-2243

[2015-06-03 09:14] akibsayyed commented on #57
Please check code attached in mail

On Wed, Jun 3, 2015 at 2:42 PM, Akib Sayyed <akibsayyed@gmail.com> wrote:

--
Akib Sayyed
Matrix-Shell
akibsayyed@gmail.com
akibsayyed@matrixshell.com
Mob:- +91-966-514-2243

[2015-06-03 09:16] akibsayyed commented on #57
here is link for same
www.matrixshell.com/cfile/amr5.9.rar

[2015-06-03 09:20] romankh commented on #57
Thanks for the quick response, can you provide me the password for archive ?

[2015-06-03 09:29] akibsayyed commented on #57
i created other file with same contents.
hxxp://matrixshell.com/cfile/amr5.9.tar

On Wed, Jun 3, 2015 at 2:50 PM, romankh <notifications@github.com> wrote:

--
Akib Sayyed
Matrix-Shell
akibsayyed@gmail.com
akibsayyed@matrixshell.com
Mob:- +91-966-514-2243

[2015-06-03 09:36] romankh commented on #57
Thanks a lot.

[2015-06-03 11:15] rpp0 commented on #51
Hi @romankh, no problem and thanks for these tips! I will update this thread when I have some more results.

[2015-06-07 15:11] romankh commented on #57
@akibsayyed,

your decoder was really helpful, finally I found that bug.
I have created pull request #63, if you would like to test

[2015-06-10 10:04] rpp0 commented on #51
Hi all, thanks to a bugfix in the receiver block by @ptrkrysik, I was able to get the channel hopping block working now! Thank you for all the help. I've created pull request https://github.com/ptrkrysik/gr-gsm/pull/64. Please let me know if anything needs to be modified. Next, I can add some documentation or extra error checks (for example that MAI may not be >= d_narfcn) if you'd like :-).

[2015-06-10 17:55] ptrkrysik commented on #51
It's great to hear that you have done the block so quickly. The code
looks good and it works on my test datasets. You can add the checks. As
for the GRC documentation - probably it will be the FIRST gr-gsm blocks
that would have one.

[2015-06-11 06:56] romankh commented on #51
Congrats also from me, I am looking forward to make use of it.

[2015-06-11 11:20] chopengauer commented on #51
Excuse me for offtop. Can anyone explain how to use block with hopping?
I make flowgraph for gr, and connect "CX channel hopper" with input from "GSM Receiver", and as output - "Burst printer", and see nothing.

In "CX channel hopper"
MA - list of arfcn channels from "System Information 1" (or list of the frequences)
MAIO and HSN - from "Immediate Assignment".

Is it enough one GSM Receiver / GSM

[2015-06-11 14:22] rpp0 commented on #51
You seem to have configured the block correctly: MA list of hopping ARFCN channels like [990, 991, ...] excluding the main ARFCN, then MAIO and HSN from the Immediate Assignment. However, you need to place the block after the receiver (so connect the output of GSM Receiver CX to the hopper block). Did you configure multiple inputs for the GSM Receiver block?

As for the example grc: I'm working on

[2015-06-11 15:07] chopengauer commented on #51
No. I have made only one GSM input.
Sample - http://rghost.ru/8Frwhxc2L
I'll try to make few  GSM Inputs.
But how i should be with "GSM clock offset control"?

[2015-06-11 17:48] rpp0 commented on #51
Here is an example I made: you need to create a capture file for each channel and feed them to the GSM Receiver inputs.

http://rghost.net/private/8bNswS6LL/745462b31d478c567b56aa8ebf393cd3

[2015-06-12 13:15] wesleygoatley opened #65 "gr-gsm make fails on RPi2"
Hi, all dependencies are installed, along with gnuradio 3.7.5, though I'm getting this error when trying to make:

 $ sudo make
[  2%] Building CXX object lib/CMakeFiles/gnuradio-gsm.dir/decoding/tch_f_decoder_impl.cc.o
In file included from /home/pi/gr-gsm/lib/decoding/tch_f_decoder_impl.cc:30:0:
/home/pi/gr-gsm/lib/decoding/tch_f_decoder_impl.h:56:55: error: a brace-enclosed initializer is not a

[2015-06-12 15:04] romankh commented on #65
Hi,

looks like the Raspi compiler is not capable of C++ 11.
For now you can remove `const unsigned char amr_nb_magic[6] = { 0x23, 0x21, 0x41, 0x4d, 0x52, 0x0a };` from header file lib/decoding/tch_f_decoder_impl.h, and declare the array in the constructor of lib/decoding/tch_f_decoder_impl.cc, somewhere before line 60.

[2015-06-12 15:15] wesleygoatley commented on #65
Many thanks - would you mind clarifying what the addition to lib/decoding/tch_f_decoder_impl.cc needs to be?

[2015-06-12 15:22] romankh commented on #65
`const unsigned char amr_nb_magic[6] = { 0x23, 0x21, 0x41, 0x4d, 0x52, 0x0a };` does the job

[2015-06-12 15:54] wesleygoatley commented on #65
Ah, thanks for that - that did the trick, and it appeared to install successfully.  However, when running airprobe_rtlsdr.py, I get this error response:
Traceback (most recent call last):
  File "/usr/local/bin/airprobe_rtlsdr.py", line 19, in <module>
    import grgsm
  File "/usr/local/lib/python2.7/dist-packages/grgsm/__init__.py", line 45, in <module>
    from grgsm_swig import *
  File "/usr/

[2015-06-12 18:59] dikinugraha commented on #45
I have previously been installed gr-gsm, I did not find any problems. but I tried to update to the latest version UHD, when UHD successfully updated, I get problems when installing gr-gsm, it says :
                                                                                                                                                           Installing from source: gr-gsm
Building:    (1

[2015-06-15 02:56] dikinugraha commented on #45
hai @ptrkrysik

I have previously been installed gr-gsm, I did not find any problems. but I tried to update to the latest version UHD, when UHD successfully updated, I get problems when installing gr-gsm, it says :
Installing from source: gr-gsm
Building: (100%) [==========================================================]
Build failed. Re-trying with reduced makewidth and higher verbosity.
[ 0%] [

[2015-06-15 07:11] romankh commented on #45
@dikinugraha,

the referenced commit should fix the problem. Did you try it ?

[2015-06-15 07:16] romankh commented on #65
You may have to run `sudo ldconfig`.
If that doesn't work, you may have to add the path to libgnuradio-gsm.so to LD_LIBRARY_PATH

[2015-06-16 23:11] aymeric75 opened #67 "[Failed] sudo ./pybombs install gr-gsm : Configuration failed"
Hi everyone,

I'm trying hard to make gr-gsm work, but i have an issue when executing the command: sudo ./pybombs install gr-gsm.

Here are the last line of the shell :

Paramétrage de python-cairo-dev (1.8.8-1) ...
installation ok via: deb
Installing from source: gnuradio
remote: Counting objects: 5324, done.
remote: Total 5324 (delta 0), reused 0 (delta 0), pack-reused 5324
Receiving objects: 10

[2015-06-17 15:40] aymeric75 opened #68 "Dependency LIBUSB_FOUND = FALSE"
Hi,
I've the following error when running this command: sudo ./pybombs install -v gr-gsm

--   Dependency LIBUSB_FOUND = FALSE
CMake Error at cmake/Modules/GrComponent.cmake:75 (message):
  user force-enabled gr-fcd but configuration checked failed
Call Stack (most recent call first):
  gr-fcd/CMakeLists.txt:35 (GR_REGISTER_COMPONENT)

I checked if libsub was installed on my computer and i can see

[2015-06-17 16:23] aymeric75 commented on #68
Actually, i worked, i reinstalled libusb as following:

wget http://sourceforge.net/projects/libusb/files/libusb-1.0/libusb-1.0.9/libusb-1.0.9.tar.bz2
tar xjf libusb-1.0.9.tar.bz2
cd libusb-1.0.9
./configure
make
sudo make install

[2015-06-18 11:04] bluelightvision commented on #51
It seems that you guys have done a great work!
Can someone tell me how to obtain the different input files that should be fed to the GSM Receiver block ?

[2015-06-19 12:14] aymeric75 opened #69 "[error] from Cheetah import Template ImportError: No module named Cheetah"
Hi,

   I'm still trying to install gr-gsm and i've another trouble with the " sudo ./pybombs install -v gr-gsm" command.
Indeed there is an error concerning cheetah (which i installed, and for which i changed the PYTHONPATH).

I don't know what to do now, any idea ?

Thx

Aymeric

[2015-06-19 19:25] ptrkrysik commented on #69
Can you give some details of:
-system that you use,
-error messages that you get (if you don't get any - try to run pybombs
with "-v" option)?

Without this it's hard to tell what is wrong and where the installation
stopped.

[2015-06-20 05:27] ptrkrysik commented on #67
Please tell what system do you use and attach output of:
sudo ./pybombs -v install gr-gsm

[2015-06-20 05:31] ptrkrysik commented on #68
This looks more like problem with gnuradio or gr-fcd installation. Can you tell something more about system that you use?

[2015-06-20 05:47] ptrkrysik commented on #51
There are many steps currently:
1. capture all frequency channels to a file,
2. process C0 channel of a BTS with Wireshark listening on local interface,
3. from System Information messages read in Wireshark Cell Allocation (list of channels assigned to given BTS),
4. extract all needed channels for example with this program:
https://app.box.com/s/vkirr7t6s79a9gzvy758nwx8o13w4g45
(source in get_cha

[2015-06-20 08:06] aymeric75 commented on #69
Hi,

Thank you very much for your help.

 So now i just have the problem of the "Cheetah import" going on.
I'm using Kali Linux 1.1 and Cheetah-2.4.4, i have several python version on my computer and i think the problem is about the Cheetah that i installed which works only with a specific version of python, but i don't know how to install Cheetah for a specific version.

Here is the detailed erro

[2015-06-20 08:29] aymeric75 commented on #68
To correct this error i had to install a version of libusb manually: libusb-1.0-0-dev_1.0.11-1_amd64

Date: Fri, 19 Jun 2015 22:31:41 -0700
From: notifications@github.com
To: gr-gsm@noreply.github.com
CC: aymeric.barbin@hotmail.fr
Subject: Re: [gr-gsm] Dependency LIBUSB_FOUND = FALSE (#68)

This looks more like problem with gnuradio or gr-fcd installation. Can you tell something more about system

[2015-06-20 08:53] ptrkrysik opened #70 "Code refactoring from other projects (Osmocom, OpenBTS...)"
There are a lot of functionalities that are already implemented in other projects on different layers of GSM protocols. Most advanced among them are Osmocom and OpenBTS. I'm therefore starting discussion here to create wish-list with functionalities that are implemented in them that should be imported to gr-gsm and to find out how to do such imports.

[2015-06-20 08:55] #45 closed

[2015-06-20 08:55] #47 closed

[2015-06-20 08:55] #48 closed

[2015-06-20 08:57] ptrkrysik commented on #65
@wesleygoatley can you check and report if gr-gsm works after doing what @romankh has written?

[2015-06-20 08:59] ptrkrysik commented on #61
Does gr-gsm installs when you don't have gqrx?

[2015-06-20 09:26] bluelightvision commented on #51
I am stuck on step #4, the cfile that I receive at the end does not decode correctly. Can you please give some  explanations of how tp use the get_channel.grc flowgraph.

[2015-06-20 11:28] wesleygoatley commented on #65
Will do - am out of the city right now, looking forward to checking this fix when I return.

[2015-06-20 20:32] ptrkrysik commented on #51
get_channel.grc is for files with signal in interleaved complex int16
format. You probably have file with samples in complex float format so
you will have to change in file source output format to complex and
remove the next block that converts complex integers to complex floats.

[2015-06-21 09:06] aymeric75 commented on #69
Hi,

Here are more details about my Cheetah import problem.

I think that when the script call the file called "gen_osmosdr_blocks.py", it's creating a new process which is made in a way that Python does not find the repertory of Cheetah.

Have a good sunday

Cheers

Aymeric

Date: Fri, 19 Jun 2015 12:25:54 -0700
From: notifications@github.com
To: gr-gsm@noreply.github.com
CC: aymeric.barbin@hotma

[2015-06-21 09:11] aymeric75 commented on #69
A little more thing to add, when i type "python" in the terminal (the default version is Python2.7.9 and do "import Cheetah" i have no error. But when i type python2.7 (same version displayed) and i type "import Cheetah", i have the error "No module named Cheetah".

So i think it's really a problem of Python version and Cheetah.

Thx

Date: Fri, 19 Jun 2015 12:25:54 -0700
From: notifications@githu

[2015-06-21 15:05] romankh commented on #70
From my perspective the most desirable feature would be receiving and decoding uplink channels. You once mentioned it may be possible with moderate effort.

Besides that, GPRS would also be a nice-to-have for me, as I still seeing it being used regularly in networks. EDGE seems also to be an extension to GSM, however I didn't research anything in this direction, also I believe unlike GPRS, it is n

[2015-06-22 06:24] ptrkrysik commented on #70
Regarding the uplink - there is burst detection implemented in OsmoTRX.
It might be better than the method used currently in gr-gsm.

I have seen this message from Harald Welte suggesting that their BTS
support EDGE: "The BTS will now happily transmit EDGE/8PSK data."
(http://code.metager.de/source/history/osmocom/osmo-bts/src/common/oml.c)
I don't know if they implemented the physical layer with

[2015-06-22 11:00] bluelightvision commented on #51
the input file that I am using is also of type int16, but still nothing gets decoded.

[2015-06-22 11:34] ptrkrysik commented on #51
Did you set proper parameters:
-carreir frequency fc,
-sample rate,
-decimation (where samp_rate/decim >=200e3),
-carrier frequency offset (it there is any)
?

[2015-06-22 11:44] gtr5 commented on #51
yes everything is set properly. I think the problem is with my input file, should it be a .bin or .cfile ? I just used what I obtained from RTL-SDR source (and converted it to Ishort).

[2015-06-22 11:53] bluelightvision commented on #51
I guess the parameters are set properly, but I think it might be because of my input file. For recording the file, I'm using the output of the RTL-SDR Source block and converting it to Ishort. Should there be some more conversions ?

[2015-06-22 12:37] ptrkrysik commented on #51
Can you show the GRC file that you use to make recording?

[2015-06-22 13:10] bluelightvision commented on #51
here is the GRC I am using:

![capture](https://cloud.githubusercontent.com/assets/10475597/8282411/3303231c-18f9-11e5-98f6-d5e5189b31da.png)

[2015-06-22 13:42] aymeric75 commented on #69
I found the error finally, i copy pasted a python2.7 repertory in another one already existing, so i supressed it and it works (pretty silly i know).

Now i have another error when i want to try the "airprobe_file.py", it send me this error:

  File "/usr/local/bin/airprobe_file.py", line 8, in <module>
    from gnuradio import blocks

Date: Fri, 19 Jun 2015 12:25:54 -0700
From: notifications@gith

[2015-06-22 15:02] aymeric75 opened #71 "Using Volk machine: sse4_2_64 input.cfile: No such file or directory"
Hi everybody,

   I finnaly installed gr-gsm, but now i have an issue when executing the "airprobe_file.py", i type this command:
"airprobe_file.py --samp-rate=1M --fc=940M capture.cfileC

Here is the error log:

Using Volk machine: sse4_2_64
input.cfile: No such file or directory
Traceback (most recent call last):
  File "/usr/local/bin/airprobe_file.py", line 142, in <module>
    tb = airprobe_f

[2015-06-22 15:22] romankh commented on #71
I don't have access to my installation right now, but I think the command should be `airprobe_file.py --samp-rate=1M --fc=940M -i capture.cfile`, thats also what the README says.

Also, you probably have to correct your samp-rate, as the stated capture has a decimation of 112, the samp-rate is 64e6/112 or similar, where 64e6 is depending on the device that was used for capture.

[2015-06-22 15:26] aymeric75 commented on #71
Yes sorry, it was just a typo, so no error now but it seems that the execution is very long, is it normal ?

[2015-06-22 15:31] aymeric75 commented on #71
I don't know anythin about gsm capturing, how should i correct the sample-rate and why ?
Thx

[2015-06-22 15:35] romankh commented on #70
Yes, transmitting would be great also.

Regarding UMTS: I don't have much knowledge as well, but I don't think that UMTS and GSM have much in common. Will keep this in mind and make a brief research. Anyway, it has not such a high priority for me, just an idea for the case, that there are no more features we can implement in gr-gsm, and we are at risk of suffering on boredom.

I also agree to the

[2015-06-22 16:28] romankh commented on #71
You need to provide the gsm-receiver the same sample rate as it was used for recording. Some devices like USRP utilize decimation, therefore you have to take that information into consideration.
Decimation in general is described at wikipedia: https://en.wikipedia.org/wiki/Decimation_%28signal_processing%29

Normally it shouldn't take long, it depends on the length of the capture. The mentioned fi

[2015-06-23 09:33] aymeric75 commented on #71
Thank you for your help, now it's not loading for ever as yesterday but i still don't know what it has done... Maybe it wrote something in another file somewhere else on my computer?

[2015-06-23 11:27] aymeric75 opened #72 "I can't get the paquets in wireshark"
Hi everyone,

 I installed gr-gsm, started wireshark with this command : wireshark -k -f udp -Y gsmtap -i lo  (apparentlty it's better to not use the sudo mode), and start this other command in another terminal: ./airprobe_rtlsdr.py

The frequencies graph appears, no problem, but nothing in wireshark... I don't understand what is wrong

Thanks

Aymeric

[2015-06-23 13:51] aymeric75 commented on #72
ok, i just had to settle the frequency of few units...

[2015-06-23 14:49] gtr5 commented on #51
Hi, I was using gr-gsm to obtain data from a non-hopping frequency, it worked fine. But when I try to get data from another frequency nothing appears (none of the demapping and decoding blocks gave bit streams). So my question is does gr-gsm decode hopping frequencies (regardless of the order of bursts) ?

[2015-06-23 16:44] romankh commented on #51
@bluelightvision: there is no need to convert to short, as gsm input adapter takes complex as input. Just save it as complex.

@gtr5: No, that won't work if you don't pay attention to the order of bursts. That's what rpp0's block is for, it takes the bursts from different frequencies according to the hopping params, so that the right bursts are grouped together.

[2015-06-23 16:46] romankh commented on #72
Is it working now ? If yes, consider closing the issues that were solved.

[2015-06-23 16:56] gtr5 commented on #51
that explains why I can't get data! Thanks

[2015-06-23 18:11] #65 closed

[2015-06-23 18:15] wesleygoatley commented on #72
I'm having similar issues - checked my ppm offset with kalibrate, and have what looks like activity in the freq/power graph, but it's just 0 being continuously printed to terminal and no packets in wireshark.  Any thoughts on this?

[2015-06-23 18:41] romankh commented on #72
These are probably "O"s, this indicates that rtl-sdr experiencing a buffer overrun.
Check your sample rate.

[2015-06-23 21:21] wesleygoatley commented on #72
Just did, changing the sample rate anywhere down to 1M/up to 3M makes no difference, what do you suggest?

[2015-06-24 08:04] romankh commented on #72
You will need the right sample rate, this is the sample rate that was used for recording. It depends on the device used for recording. If a decimation is provided with the recording, the sample rate = samp_rate_device / decimation.

[2015-06-24 13:48] aymeric75 opened #74 "Where to find A5/2 encrypted data ?"
Hi everyone,

   I've made a program to crack A5/2 (i know it's not used anymore...) and i'm looking for a A5/2 encrypted sample of GSM datas. Do you have any idea where i can find it ?
Also i would like to know if it's possible to settle my phone so that it communicates using A5/2 algorithm to ecrypt data.

Thanks

Aymeric

[2015-06-24 14:57] romankh commented on #74
I haven't seen any captures with A5/2 encryption so far on the net. I you find any, would be nice if you drop me note.

You normally can't set the encryption algorithm to use in the phone. The phone tells the network a list of encryptions it is capable of, and then the network tells the phone which one to use.
However, you probably can modify OsmocomBB to do so. Still you would need a network oper

[2015-06-24 15:09] aymeric75 commented on #74
Thanks, actually i do this for an internship in my university (even if it has no utility now). My goal is to create a communication using A5/2 between two cellphones and then to be abble to sniff datas and decrypt it.
As you said, i need to dig more in OsmocomBB direction (i will have to buy compatible phones thought, see this link: http://bb.osmocom.org/trac/ )

[2015-06-25 10:01] aymeric75 opened #75 "Possible to settle the RTL-SDR dongle as a BSC or a BTS ?"
I'm trying to recreate a mini GSM network using Osmocom Suite, the problem is that it require a BTS (see requirements part: http://openbsc.osmocom.org/trac/wiki/OpenBSC#WhatisOpenBSC ), but i can't find one yet, so i'm wondering if i can use my RTL-SDR as a BTS....

Cheers

Aymeric

[2015-06-25 10:08] NinjaComics commented on #75
@aymeric75 RTL-SDR dongle is receive only. So technically it's not possible to setup a BSC with RTL-SDR.

[2015-06-25 10:14] aymeric75 commented on #75
@NinjaComics Thank you, do you know a cheap way to make a GSM network (between two phones directly or a phone and a BTS) ?

From what i've read for now, one need a physical BTS but maybe there is a "simplier" way...

[2015-06-25 10:21] NinjaComics commented on #75
There is Calypso BTS (to make the calypso based baseband work as frontend for your BTS), if you prefer cheap GSM network. But that setup requires Calypso based phones, which are quite extinct to buy these days.

[2015-06-25 11:56] aymeric75 commented on #75
Thank you, do you think this model is okay ?

http://www.ebay.fr/itm/British-Telecom-Calypso-120-Single-Line-Cordless-Phone-/291496032171?pt=LH_DefaultDomain_3&hash=item43de8477ab

[2015-06-25 12:50] NinjaComics commented on #75
@aymeric75 No. Please check this [osmocomBB wiki page](http://bb.osmocom.org/trac/wiki/Hardware/Phones) for the list of phones with Calypso baseband.

[2015-06-25 12:54] NinjaComics commented on #75
@ptrkrysik this issue can be closed

[2015-06-25 12:55] #75 closed

[2015-06-25 12:57] ptrkrysik commented on #69
@aymeric75 - the problem with Cheetah was specific for your configuration and everything should work ok in general situation when someone installs gr-gsm on a clean system?

[2015-06-25 13:03] aymeric75 commented on #69
@ptrkrysik yes it was specific, actually i installed severa time python with several version, and i don't know why but it happened that i put a Python2.7 directory in the original Python2.7 directory, and that created a conflict with module importation (not only with Cheetah).

[2015-06-25 13:08] NinjaComics opened #76 "Request for a ML/Google group"
@ptrkrysik Now that gr-gsm is gaining some momentum, can I suggest that we have a mailing list/google group where issues like #75 and problems concerning installation can be tackled on the list and have gr-gsm-development only discussions on Github ?

P.S - I haven't contributed a single line of code to gr-gsm, but I am following it and have used it previously. That said, I am looking forward to c

[2015-06-25 13:15] akibsayyed commented on #76
I can provide hosting for mailing list

On Thu, Jun 25, 2015 at 6:38 PM, Ravi Sharan <notifications@github.com>
wrote:

--
Akib Sayyed
Matrix-Shell
akibsayyed@gmail.com
akibsayyed@matrixshell.com
Mob:- +91-966-514-2243

[2015-06-25 13:40] ptrkrysik commented on #69
I'm closing the issue then

[2015-06-25 13:40] #69 closed

[2015-06-25 19:47] ptrkrysik commented on #76
I don't have too much experience in setting up and administering mailing list. I agree that there is need for place for helping new users and general discussions so I decided to start google group, as it can be configured immediately. This group is:

gr-gsm@googlegroups.com

I've set up the list with most liberal settings I could set. To join the group with any e-mail addres (google account is not

[2015-06-26 04:07] NinjaComics commented on #76
+1

[2015-06-26 20:08] ptrkrysik commented on #76
I invite everyone who has any questions regarding gr-gsm or gsm in general to join the mailing list and start discussions.

[2015-06-27 13:44] ptrkrysik commented on #58
To make things a little bit simpler - lets start from making airprobe application parameters compatible with old airprobe (with exception of parameters of reception like fc, samp_rate, gain that are already the same/better in gr-gsm).

[2015-06-30 07:47] gtr5 commented on #51
concerning the "CX channel hopper" block, does it work properly if one of the channels has some lost bursts? In some cases I receive nothing at its output although I can see CX bursts at its input.

[2015-06-30 11:23] ptrkrysik commented on #51
Currently any burst of a message that is lost means that the whole
message is lost. The decoder might support decoding messages with one
burst lost but it doesn't currently implement this functionality.

[2015-06-30 11:32] gtr5 commented on #51
If I remove a small part at the beginning of the capture would it still be able to decode the frames. Also, can't we give the channel hopper the frame number where it should start the frequency hopping algorithm?

[2015-06-30 11:41] rpp0 commented on #51
You should be able to decode frames regardless of when you started the capture. Perhaps something is wrong with your configuration; can you share your grc?

[2015-06-30 12:20] gtr5 commented on #51
The channel hopper block is working fine but not for all HSN and MAIO configurations for a given input capture. If I change the capture file, the same configuration that was not working will work for the new capture. I'm using the same grc that you had shared previously (only adjusted the channel values for my case).

[2015-06-30 12:33] ptrkrysik commented on #51
Single burst lost affects only single message - not whole capture. If
you remove part from the beginning it won't affect the rest.

[2015-06-30 12:42] ptrkrysik commented on #51
Do you have confirmation from Assignment Commands that all HSNs and
MAIOs that you are trying to use are assigned to some channel during the
capture?

[2015-06-30 12:48] gtr5 commented on #51
Yes, the configuration that I used is the same as obtained from Assignment Command.

[2015-06-30 14:02] gtr5 commented on #51
It seems that my "TSEQ numbers" value was not set correctly. For my case the training sequence is 3, so should I set it as [3] or [3,3,3,3,3,3] ?

[2015-06-30 15:43] ptrkrysik commented on #51
The detection algorithm might have not detected it correctly.
[3] and vector containing repeating 3 should have the same effect.

[2015-07-01 06:01] tdbone1 opened #77 "gain not working as it should"
running ubuntu 15.04 amd 64 desktop
E4000 tuner
airprobe_rtlsdr.py gains do not stick if you try and do it from command line or from the gui.
anything below 25 (in gui) if you press small arrow down it will change but go right back to auto setting
if you start at 0 and go up (small increments) real fast you can see gain moving signal correctly but over 25 it has no affect
if under 25 when you stop

[2015-07-01 06:59] gtr5 commented on #51
Thank you guys, its working perfectly now !

[2015-07-01 14:22] aymeric75 opened #78 "How to save datas in a .bin files ?"
HI everyone,

I would like to know which command do i have to use to save a live gsm session (i use the command "airprobe_rtlsdr.py" to see the frequencies graph) ?

Thanks

[2015-07-02 04:51] NinjaComics commented on #77
@tdbone1 Can you please guide us to reproduce the problem or provide with some trace ? With your description, it's hard to tell what might be causing the problem.

[2015-07-02 05:56] ptrkrysik commented on #77
I observed also strange behaviour of gain setting. This is more general
thing and has more to do with RTL-SDR receiver and GNU Radio RTL-SDR
source than with gr-gsm. One thing that might be wrong in
airprobe-rtlsdr is that gain mode is set to automatic.

[2015-07-02 06:09] ptrkrysik commented on #78
Hi @aymeric75 ,

As we now have gr-gsm google group I wan't such questions (that are not related to a specific issue with gr-gsm or new functionality that should be implemented) to be asked there.
If you ask the question using the group - I will answer it.

The description how to join the group is here:
https://github.com/ptrkrysik/gr-gsm#mailing-list

[2015-07-02 13:52] ptrkrysik commented on #78
The answer is on the google group:
https://groups.google.com/forum/#!topic/gr-gsm/1C7LQCOgLEY

[2015-07-02 13:52] #78 closed

[2015-07-02 13:56] ptrkrysik commented on #74
I'm closing the discussion now. In case there will be an update I advise to post it on the gr-gsm mailing list:
https://github.com/ptrkrysik/gr-gsm/#mailing-list

[2015-07-02 13:56] #74 closed

[2015-07-02 13:58] ptrkrysik commented on #72
This is most probably not related to an error in gr-gsm but it is problem with getting it running. In case of updates in this story please continue the discussion on gr-gsm mailin list (https://github.com/ptrkrysik/gr-gsm/#mailing-list) - just add link pointing to this issue at the beginning. I'm closing the issue.

[2015-07-02 13:58] #72 closed

[2015-07-02 13:59] ptrkrysik commented on #71
This is most probably not related to an error in gr-gsm but it is problem with getting it running. In case of updates in this story please continue the discussion on gr-gsm mailin list (https://github.com/ptrkrysik/gr-gsm/#mailing-list) - just add link pointing to this issue at the beginning. I'm closing the issue.

[2015-07-02 13:59] #71 closed

[2015-07-02 14:01] ptrkrysik commented on #68
This is most probably not related to an error in gr-gsm but problem with installation of other required component. In case of updates in this story please continue the discussion on gr-gsm mailin list (https://github.com/ptrkrysik/gr-gsm/#mailing-list) - just add link pointing to this issue in the first post.

[2015-07-02 14:01] #68 closed

[2015-07-02 14:02] #62 closed

[2015-07-02 14:02] ptrkrysik commented on #61
This is most probably not related to an error in gr-gsm but problem with installation of other required component. In case of updates in this story please continue the discussion on gr-gsm mailin list (https://github.com/ptrkrysik/gr-gsm/#mailing-list) - just add link pointing to this issue in the first post.

[2015-07-02 14:02] #61 closed

[2015-07-02 14:08] ptrkrysik commented on #43
I copied the description to the gr-gsm mailing-list:
https://groups.google.com/forum/#!topic/gr-gsm/RNVVYpmmPzs

[2015-07-02 14:08] #43 closed

[2015-07-02 14:10] ptrkrysik commented on #67
This doesn't have continuation so it's hard to tell if it's problem with gr-gsm. In case of updates in this story please continue the discussion on gr-gsm mailin list (https://github.com/ptrkrysik/gr-gsm/#mailing-list) - just add link pointing to this issue in the first post.

[2015-07-02 14:10] #67 closed

[2015-07-02 17:16] dslokva commented on #43
Hi!!!

In my case (updated mac os 10.10, macports) - I can do cmake, make, make install with another warnings, but without errors.
[code]

make output:

[code]

then when I want to run the program - it shows error about missing module grgsm:

[code]

If I run gnuradio-companion - another error (GUI is opening, blocks are in place, error occurs when I run the flow graph):

[code]

And if I copy mod

[2015-07-02 17:23] dslokva opened #79 "Python crash or missing module on OSX 10.10.4"
Hi!!!

In my case (updated mac os 10.10, macports) - I can do cmake, make, make install with another warnings without errors. When I try to start the program - I got python crash.
[code]

make output:

[code]

then when I want to run the program - it shows error about missing module grgsm:

[code]

If I run gnuradio-companion - another error (GUI is opening, blocks are in place, error occurs when

[2015-07-03 18:46] tdbone1 commented on #77
@NinjaComics

did you even read my first post?
it tells you how to reproduce its step by step

[2015-07-06 19:34] ptrkrysik commented on #77
Hi @tdbone1,

You are right that gain slider don't make too much sense in current form - where it is overrided by automatic gain control.  However automatic gain control seems to be working so it migh be valuable to leave it as checkbox that is enabled by default.

[2015-07-07 09:31] ptrkrysik commented on #70
I've looked a little bit into libosmocore - this are functions/structures common to different osmo projects. There are some things that would be very useful for gr-gsm (whole src/gsm directory) and some things that are specific to osmo projects and aren't applicable in gr-gsm. I find quite hard to read that code and search for what I need in it. It might be that I don't know some core concept that

[2015-07-07 09:31] ptrkrysik commented on #70
The example for wireshark:
https://github.com/wireshark/wireshark/blob/master/epan/dissectors/packet-gsm_a_rr.c#L1494

[2015-07-07 10:20] bluelightvision opened #80 "Airprobe-like bursts"
Hi, is there a way to get the bursts of a certain timeslot as can be done using airprobe (C1 and C0 bursts)?
ex:
C1 1015026 1567500: 100000010001110101010000000010100000000111111101010000001010000100010111010100000000101000010000010101010100000010
P1 1015026 1567500: 100000010001110101010000000010100000000111111101010000001010000100010111010100000000101000010000010101010100000010
S1 1015026 156750

[2015-07-07 10:50] ptrkrysik commented on #80
Hi @bluelightvision,

I want keep github issues more focussed on fixing bugs and implementing new features.

The place for more general discussion is now project's mailing list:
https://github.com/ptrkrysik/gr-gsm/#mailing-list

If you ask the question there I will answer it.

[2015-07-07 10:50] #80 closed

[2015-07-08 13:32] romankh commented on #70
libosmocore is definitely a good source for implementation, but I also agree with you that it is very focussed on their tasks. I ended up doing a lot of grep'ing to find the things I was looking for.
That's why I preferred the OpenBTS code for the voice decoding.

[2015-07-09 06:03] nomadcelt opened #81 "Install issues - Kali Linux"
Good morning,

I am running in to all sorts of problems installing gr-gsm at this time in Kali.
On sudo ./pybombs -v install gr-gsm, I received the message that I had the wrong version of Automake. I've now installed 1.13 but on attempting again, while I get a lot further, I am now presented with:

checking for ranlib... (cached) ranlib
checking whether g++ supports C++11 features by default... no

[2015-07-10 16:25] romankh commented on #81
Hi,

which version of automake was installed previously ?
Can you install and try with automake >= 1.14 ?

[2015-07-10 21:33] nomadcelt commented on #81
Thanks for the advice. I was on 1.13. I upgraded to 1.14 but it still hangs on the same screen. I tried Automake 1.15 and nothing is different.

Any ideas?

[2015-07-11 06:35] romankh commented on #81
Hmm, did pybombs install the other packages that gr-gsm is depending on ? Like Gnuradio, rtl-sdr and so on ? You can verify this using `./pybombs list`. If Gnuradio was installed, please look whether it was installed from source or from deb packages.

[2015-07-11 09:59] nomadcelt commented on #81
According to ./pybombs list, not installed but accordingy to apt-get, it is.

[2015-07-11 10:28] romankh commented on #81
Which version is installed ?
gr-gsm relies on gnuradio >= 3.7
Maybe you have to uninstall your current version, and modify the pybombs config, such that at least gnuradio is built from sources rather installed from distro packages (option forcebuild)
I would suggest this for most of the dependencies for gr-gsm. It takes more time, but it ensures that you use the recent versions that are used in de

[2015-07-11 10:47] nomadcelt commented on #81
I will:
Uninstall Gnu radio
Locate latest source and install
Reattempt pybombs install of gr-gsm.
Thanks for the advice, I'll report back shortly.
On 11 Jul 2015 11:28, romankh <notifications@github.com> wrote:Which version is installed ?
gr-gsm relies on gnuradio >= 3.7
Maybe you have to uninstall your current version, and modify the pybombs config, such that at least gnuradio is built from sourc

[2015-07-11 11:00] romankh commented on #81
you don't need to locate any of the sources, pybombs will do that for you, it will clone the corresponding repos and do the build and installation.
You only have to uninstall the packages, and change your pybombs config, specifically the forcebuild option. By default, it is a list of packages, that will be built from sources, no matter if there are packages available. I believe you removed at leas

[2015-07-11 21:34] nomadcelt commented on #81
I could find no way of forcing gnuradio to the latest version. I am hit every time with the same errors.
I've now sourced the latest source code and am in the midst of compiling it. It is taking quite significant amounts of time but I hope to force the install thereafter. More to follow.

[2015-07-11 21:53] ptrkrysik commented on #81
W dniu 11.07.2015 o 23:34, nomadcelt pisze:

Can you show contents of your pybombs/config.dat file?

--
Piotr Krysik

[2015-07-11 21:58] nomadcelt commented on #81
Sure, thank you:

[config]
gituser = root
gitcache =
gitoptions =
prefix = /usr/local
satisfy_order = deb,src
forcepkgs =
forcebuild = gnuradio,uhd,gr-air-modes,gr-osmosdr,gr-iqbal,gr-fcdproplus,uhd,rt$
timeout = 30
cmakebuildtype = RelWithDebInfo
builddocs = OFF
cc = gcc
cxx = g++
makewidth = 4

[2015-07-11 22:07] ptrkrysik commented on #81
W dniu 11.07.2015 o 23:58, nomadcelt pisze:

Does this has this content or it was just cut at 80'th character when
you were copying it?

Can you send me address of iso of your distributin so I could test the
installation in virtual machine? (There are many people who want to use
gr-gsm on Kali and I would like to resolve issues with installation
under this distribution.)

--
Piotr Krysik

[2015-07-11 22:25] nomadcelt commented on #81
I believe it was cut but will check in the morning.

The kali distro is the latest 64-bit distro from the Kali site.

Thank you

Sent by Outlook for Android

On Sat, Jul 11, 2015 at 3:07 PM -0700, "Piotr Krysik" <notifications@github.com> wrote:
W dniu 11.07.2015 o 23:58, nomadcelt pisze:

Does this has this content or it was just cut at 80'th character when
you were copying it?

Can you send me a

[2015-07-12 06:43] nomadcelt commented on #81
The full copy is:

[config]
gituser = root
gitcache =
gitoptions =
prefix = /usr/local
satisfy_order = deb,src
forcepkgs =
forcebuild = gnuradio,uhd,gr-air-modes,gr-osmosdr,gr-iqbal,gr-fcdproplus,uhd,rtl-sdr,osmo-sdr,hackrf,gqrx,bladerf,airspy
timeout = 30
cmakebuildtype = RelWithDebInfo
builddocs = OFF
cc = gcc
cxx = g++
makewidth = 4

[2015-07-12 09:08] nomadcelt commented on #81
The full output of: ./pybombs -v install gnuradio

sudo ./pybombs -v install gnuradio
Settled on prefix: /home/john
Initializing environmental variables...
Loading recipes ...
Checking if gnuradio is installed: No
/home/john/
PyBombs.sysutils - INFO - have_deb: Satisfies requirement...installed version of make (3.81) is >= than 3.75
PyBombs.sysutils - INFO - have_deb: Satisfies requirement...insta

[2015-07-12 10:16] ptrkrysik commented on #81
W dniu 12.07.2015 o 11:08, nomadcelt pisze:

Hi,

GNU Radio developers decided to include Control Port by default in
installation through pybombs. In my opinion this decision was done too
early. There are many problems with installation of apache-thrift that
is included because it is required by control port.

As control port is not required by gr-gsm the easy solution is to remove
apache-thrift f

[2015-07-12 11:04] nomadcelt commented on #81
replace gnuradio.lwr with this content?

[2015-07-12 13:49] ptrkrysik commented on #81
W dniu 12.07.2015 o 13:05, nomadcelt pisze:

Yes,

To make things simpler (also for me to understand what is happening) do
everything from the beginning:

git clone https://github.com/pybombs/pybombs.git

(copy gnuradio.lwr into pybombs/recipes/)

then configure pybombs by changing only install directory - the rest
leave as default, and finally:

cd pybombs
sudo ./pybombs install gr-gsm

--
Best R

[2015-07-12 14:07] nomadcelt commented on #81
After all that, ./pybombs list nor reports GNUradio Make Inventory.

[2015-07-12 14:46] ptrkrysik commented on #81
W dniu 12.07.2015 o 16:07, nomadcelt pisze:

Nomadcelt,

I don't understand what this means exactly. Can you explain it more
clearly what is the result?

[2015-07-12 15:22] nomadcelt commented on #81
I've added more detail to that message now.
On 12 Jul 2015 15:46, Piotr Krysik <notifications@github.com> wrote:W dniu 12.07.2015 o 16:07, nomadcelt pisze:

Nomadcelt,

I don't understand what this means exactly. Can you explain it more
clearly what is the result?

—Reply to this email directly or view it on GitHub.

[2015-07-12 15:39] nomadcelt commented on #81
Piotr,

There were pages and pages of "installing", with no errors. The final lines were:

-- Installing: /home/john/include/gnuradio/swig/wxgui_swig.i
-- Installing: /home/john/include/gnuradio/swig/wxgui_swig_doc.i
make: *** No rule to make target `make'. Stop.

NC

[2015-07-12 16:21] nomadcelt commented on #81
I have conducted a : sudo ./pybombs install gnuradio

It installed with no errors, apparently.

.pybombs list reports "Make inventory" next to gnuradio.

Do I need to installed libosmocore? That won't install at this stage either.

[2015-07-12 19:48] romankh opened #84 "Extractor for Immediate Assignment info"
Hi,

some time ago I found that a block for extracting the assigned information from immediate assignments is necessary for me, so I started coding that block. I think it might be useful for other users too, see branch ia-collector in my repo.

There is an option to enable printing the infos to output.
I implemented the getter functions like they are in the system info extractor.
Just wondering if

[2015-07-12 21:12] nomadcelt commented on #81
Wow....well, everything appears to be installing fine (Apart from libosmocore).

I now can't find ~/.gnuradio/config.conf to change the entry.

[2015-07-13 06:52] ptrkrysik commented on #81
libosmocore isn't gr-gsm's dependency (or dependency of any other
program that gr-gsm depends on). It shouldn't be installed at all when
you install gr-gsm.

If you compiled gnuradio from source you don't need to edit that file -
gr-gsm should work without this change.

[2015-07-13 07:11] romankh opened #85 "Add A5/3 decryption"
Hi all,

I need to capture some AMR encoded speech data, but the providers I could use have all A5/3 in place, and I don't have a phone that isn't support A5/3 yet.

Therefore I would like to propose the implementation of A5/3 decryption into the current decrypter block. The Kc can be retrieved from some phones, and then be used to decrypt the captured data.

I think it can be done with moderate e

[2015-07-13 07:18] nomadcelt commented on #81
Piotr,
Thank you for all your help. When I get home tonight, I shall look at it again. I am trying to execute airprobe_rtlsdr.py but it can't call gnuradio. I assume, therefore, that I must amend sonething else. I'll post error messages later.
Regarding executing gnuradio, airprobe, etc, must I do that from inside the usr/local/ folder or can they be called from elsewhere?
On 13 Jul 2015 07:52, Pi

[2015-07-13 07:21] ptrkrysik commented on #81
I didn't try to install gnuradio and gr-gsm in other folders than
/usr/local. It can be done for sure but I don't know what difficulties
it might create.

[2015-07-13 07:37] ptrkrysik commented on #85
Hi @romankh,

This is great idea - especially if you have some test data for it A5/3.

Your proposition to use implementation of Osmo team for all ciphers is
also very good. Current implementation of A5/1 in gr-gsm was taken from
very old demonstration code that probably isn't too fast nor has good
interface to switch between A5/1 and A5/2.

Generally whole liba53 looks like a good library as it h

[2015-07-13 07:37] romankh opened #86 "Airprobe-compatible output in burst printer"
As discussed on the mailing list (https://groups.google.com/forum/?utm_source=footer#!topic/gr-gsm/-oAC8lXWbCQ), the burst printer should be able to provide an output compatible to airprobe.

First I will add options to print
* modified framenumber for A5
* only the payload bits of the burst

In a separate issue, we can
* let the demappers add tags about the burst position
* print that information

[2015-07-13 07:55] romankh commented on #85
Hi @ptrkrysik,

I think test data isn't a problem. I can do some captures, and my phone supports Kc retrieval.

Regarding the recipe: you are right, would be good approach.
If I understood it right, we would only have to contribute the recipe to pybomb's recipe repo ?
Besides the changes in the decrypter, of course.

[2015-07-13 08:05] ptrkrysik commented on #85
W dniu 13.07.2015 o 09:55, romankh pisze:

Yes, first we can fork pybombs, add the recipe for liba53, change gr-gsm
recipe to include liba53 dependency and make pull request to pybombs.

We will change installation procedure so it point to our fork. When
liba53 recipe and changed gr-gsm recipe will be included in pybombs we
will change the installation procedure back.

[2015-07-13 08:08] romankh commented on #85
Ok, then I will go for it that way.
Can you create the pybombs fork, think it's better if it is together with gr-gsm

[2015-07-13 08:13] ptrkrysik commented on #85
Done.

[2015-07-13 09:27] romankh commented on #84
I added two options now:
* ignore GPRS Immediate assignments: those are not always from interest, specially as we have no gprs support yet
* unique request references: ignores duplicate assignments for the same request reference, as most of the time it is not necessary to have the same information twice (or more)

[2015-07-13 09:45] ptrkrysik commented on #84
Hi @romankh,

There is no easy way to pass c++ map to python through swig (without
writing magic swig config). Passing c++ vectors is straightforward,
however. So what I used is rewriting map to a vector and returning a vector.

Look here:
https://github.com/ptrkrysik/gr-gsm/blob/master/lib/misc_utils/extract_system_info_impl.cc#L300

Is this what you need?

[2015-07-13 10:10] romankh commented on #84
Yes, thank you, just wanted to be sure that I haven't overseen something.
 In the end, I copied your approach in immediate assignment extractor, so we have some functions returning a vector with the corresponding values.

[2015-07-13 14:54] romankh commented on #85
Sorry, but I believe we need the recipes - repo
Anyway, I created a recipe that should do the job:

[code]

I am doing the uninstall manually because the make file has no uninstall target.
So, I think you can just paste the code into liba53.lwr and try it out.

What also came to my mind: maybe we should wait a few days after the pull request to the origin repository. I can develop locally, maybe t

[2015-07-13 15:38] ptrkrysik commented on #85
Ah, last time I forked pybombs recipes and the rest were in one repository.

[2015-07-13 17:19] nomadcelt commented on #81
Piotr,

when I try to run ./airprobe_rtlsdr.py, the following errors occur:

Traceback (most recent call last):
  File "./airprobe_rtlsdr.py", line 10, in <module>
    from gnuradio import blocks
  File "/usr/local/lib/python2.7/dist-packages/gnuradio/blocks/__init__.py", line 32, in <module>
    from blocks_swig import *
  File "/usr/local/lib/python2.7/dist-packages/gnuradio/blocks/blocks_swig.p

[2015-07-13 17:31] ptrkrysik commented on #85
Current recipe doesn't install the files in install dir configured in
pybombs. There is DESTDIR variable in the makefile but it isn't the same
as install prefix. This might be obstacle in getting the recipe to
pybombs mainline.

The idea avoid confusing users is good. Till the recipe gets accepted we
can use forked pybombs and you can develop decryption in a separate
(your own) branch.

[2015-07-13 18:58] romankh commented on #85
Ok, I see.
For some reason, they also only add the header file for the A5/3 implementation in the make file.
Maybe I should forget the make file, and handle everything in the recipe.

The library itself looks good, think we will have the decryption for the other versions soon

[2015-07-13 21:22] nomadcelt commented on #81
ok, getting somewhere, I think.

Trying to install gr-gsm now but am stumbling over libosmo-dsp installation:

./configure: line 3754: syntax error near unexpected token `pic-only'
./configure: line 3754: `LT_INIT(pic-only)'

I've been in to configure.ac and it looks as fine as I think it should regarding formatting / parameters.

Any ideas?

[2015-07-14 11:07] ptrkrysik commented on #81
W dniu 13.07.2015 o 23:22, nomadcelt pisze:

Hi,

I tried to install gr-gsm on Kali linux.

Kali linux has (cerrect me if I'm wrong) very small repository of it's
own packages and pybombs tries to compile a LOT of packages. That
considerably increases possibility that eventually something will go
wrong. In my case compilation fails at the very beginning. I don't have
solution for this yet and curr

[2015-07-14 11:39] romankh commented on #85
I found out that libosmocore already contains the a5 functions we are looking for.
Maybe it's better to add libosmocore to gr-gsm's dependencies, as it contains many other useful code ?

I tried doing that, however I have problems in understanding what it takes to have the library included. I installed libosmocore using pybombs, and added it to gr-gsm's recipe as dependency. Do I have to edit CMak

[2015-07-14 13:06] nomadcelt commented on #81
Piotr,
I'll gladly force develop a solution for this and will let you know.
Thanks,
John
On 14 Jul 2015 12:07, Piotr Krysik <notifications@github.com> wrote:W dniu 13.07.2015 o 23:22, nomadcelt pisze:

Hi,

I tried to install gr-gsm on Kali linux.

Kali linux has (cerrect me if I'm wrong) very small repository of it's
own packages and pybombs tries to compile a LOT of packages. That
considerably i

[2015-07-16 19:24] ptrkrysik commented on #85
If gr-gsm's doesn't find the include file the you'll have to edit CMakeList.txt

[2015-07-17 07:25] romankh commented on #85
Yes, that's what I did, but I am not getting the libraries linked.
I created a FindLibosmocore.cmake, added a find_package() and added it to target_link_libraries, but it's not getting linked, I end up with an unresolved symbol.

I will commit it later into a branch in my fork, maybe you could take a look ?

[2015-07-17 09:52] romankh commented on #85
Just for update:
libosmocore is C, name mangling hit me.
It's working now.

[2015-07-17 11:12] ptrkrysik commented on #85
Ok,

I've added libosmocore to the list of gr-gsm's dependencies.

[2015-07-17 16:57] romankh commented on #85
@ptrkrysik, I pushed the current implementation to my repo, see above.

If you have time and you like, you could do a review and test, specially the libosmocore installation / integration.

I ended up adding all A5/[1-4], as there wasn't much to do for it.
A5/1 is working, tested with one of your test captures.
I will next try to capture some A5/3 encrypted SMS with my phone, and will add some uni

[2015-07-18 11:43] ptrkrysik commented on #85
I've tested new A5/1 decryption and it work on my captures. I've made
pull request to pybombs recipes. When they accept it I will merge your
new decryption blocks with the main branch.

[2015-07-18 12:16] romankh commented on #85
Great news :)
I captured a SMS with A5/3, and it also works well.
Will post a file with the corresponding bursts here for testing, the capture file contains some other subscriber's data with A5/1, and I don't want to expose their communication to the internet.

Will also do the unit testing code soon

[2015-07-18 14:34] ptrkrysik commented on #85
What phone are you using during your captures of A5/3? I'm using Nokia
3310 to obtain test data as it can be set to camp on a selected channel.
It is not capable of doing A5/3 encryption however.

[2015-07-18 15:03] romankh commented on #85
I am using a Samsung S3.
It has no such option to select a channel, but it shows the channel it is camping on with an USSD code `*#0011#`. Also it allows retrieving the Kc using a serial connection and an at-command `at+crsm=176,28448,0,0,8`
I have two pre-paid SIM, on for a operator with a cell that implements A5/1 only, and another one where both A5/1 and A5/3 are supported, the network then alw

[2015-07-19 12:46] romankh commented on #85
You can find the demapped bursts here:
http://www.file-upload.net/download-10777199/sms-a53.bursts.html

Just feed to a decryption block and then to control channel decoder.

Kc A5/3:             0x41,0xBC,0x19,0x30,0xB6,0x31,0x8A,0xC8

However, I found my burst source throwing an exception about the thread joining itself.
Does this occur for you also ? I believe the change of position of the thre

[2015-07-19 19:32] romankh commented on #84
Closing this issue as the feature is implemented, and merged in commit 8b60acab97231916d786ae482b892e3425f80ad0

[2015-07-19 19:32] #84 closed

[2015-07-19 19:35] romankh commented on #86
I am closing this issue, as this enhancement was merged in commit 4e0afb429b8f753100bdbcaf92f3cdcba35760d0.
For the C0/C1 information we will create a new issue at some point

[2015-07-19 19:35] #86 closed

[2015-07-19 19:51] romankh opened #89 "Burst source thread join"
There is a bug with the join() of d_thread.
Currently the burst source throws an exception, and therefore the flow graph stops.
The cause is imho that
[code]
are currently executed in the child thread, and d_thread also references the child thread.

I moved the statements back to the stop function, however then again the flow graph didn't terminate.

Finally I found the intended method to archive

[2015-07-20 03:56] lamledinh opened #91 "error " sudo ./pybombs config ""
I can't config pybombs. I don't know why. Can you help me, please !

lamledinh@lamledinh-PC:~/pybombs$ sudo ./pybombs config
[sudo] password for lamledinh:
Initializing config file...
Username for GIT access
gituser [root]:
Directory of git cache repository
gitcache []:
Options to always pass to git clones (--depth=1 or --single-branch will speed up clones)
gitoptions []:
Install Prefix
Traceback

[2015-07-20 04:53] lamld opened #92 "Error " sudo ./pybombs config ""
I can't config pybombs. I don't know why. Can you help me, please !

lamledinh@lamledinh-PC:~/pybombs$ sudo ./pybombs config
[sudo] password for lamledinh:
Initializing config file...
Username for GIT access
gituser [root]:
Directory of git cache repository
gitcache []:
Options to always pass to git clones (--depth=1 or --single-branch will speed up clones)
gitoptions []:
Install Prefix
Traceback

[2015-07-20 07:42] romankh commented on #91
@lamledinh,

while gr-gsm uses pybombs as installation option, pybombs is not part of this project, and this issue tracker is intended for issues regarding gr-gsm only.

But you can write to the project's mailinglist gr-gsm@googlegroups.com (see Readme).
Please also provide more information, like your OS and how to reproduce the error (like in this case: was pybombs configured before, or is this t

[2015-07-20 08:06] ptrkrysik commented on #89
I have messed something with multithreading when I tried to make this
block exit when all input bursts are processed. Merging your change.

[2015-07-20 08:12] ptrkrysik commented on #85
Mainlinee pybombs now includes libosmocore on gr-gsm's dependency list
so it is possible to add your new decryption block to main branch of gr-gsm.

[2015-07-20 08:23] romankh commented on #85
Ok, I will finish the QA test and create the pull request later today

[2015-07-20 08:25] ptrkrysik commented on #85
There is some error in pybombs that was reported by one of the users (I
can also observe it myself) - so we will have to wait a little bit till
they fix it.

[2015-07-20 08:26] ptrkrysik commented on #91
I can also observe this problem - something is messed in current pybombs. Solution for now is to checkout older revision:
cd pybombs
git checkout b0f9b6f89f7a74b5baec46b061b23c34ce7fde82

I've filled the bug report on pybombs github page and I'm closing the issue here.

[2015-07-20 08:26] #91 closed

[2015-07-20 08:29] ptrkrysik commented on #92
This is error in pybombs. I've filled bugreport.

[2015-07-20 08:29] #92 closed

[2015-07-20 19:17] romankh commented on #85
Ok, no problem, I am not done yet with that testing.
It's more work than I thought, I ended up creating some new burst source and burst sink for testing

Burst source takes lists of frame numbers, timeslots, burst strings (from burst printer), and creates the corresponding pmt, and the sink takes the pmt's as input, and we get three vectors back, which can be compared. This blocks can be later reu

[2015-07-20 19:17] romankh commented on #89
Closing this issue, should be fixed with the above merge.

[2015-07-20 19:17] #89 closed

[2015-07-21 09:04] romankh commented on #85
I am done with testing, have created the pull request already

[2015-07-21 12:34] romankh commented on #57
Update: I currently have no access to an device that is able to capture the GSM-1800 band, at the moment I can capture only GSM-900 with my hardware.  Now having A5/3 decryption, I tried to capture an AMR traffic channel to my phone on the GSM-900 band, but as soon as the TCH channel is established, my phone receives a handover command to an other BTS on the GSM-1800 band

So I will have to wait u

[2015-07-21 18:38] gtr5 opened #94 "uplink-decoding"
Gr-gsm project has now many useful functions for monitoring GSM signals. I think the next major step would be to have it able to decode uplink channels. I saw some people saying that they were able to implement such ability with airprobe but nothing was made available to the public. I don't think this would be an easy task but with some effort we should be able to realise it.

[2015-07-21 20:52] ptrkrysik commented on #94
W dniu 21.07.2015 o 20:38, gtr5 pisze:

Hi,

Reception of uplink is similar to reception of hopping channels - in
both cases bursts detection and ability to keep synchronization are very
helpful. Gr-gsm's receiver currently supports hopping channels, although
this support is not finished as we are not able yet to decode whole calls.

I was able to decode some of uplink messages by doing very simpl

[2015-07-22 07:26] gtr5 commented on #94
1) You mean that you are not able to decode the uplink part of the call or that even the downlink decoding is still missing parts.

2) Is decoding of uplink for the beacon channel ( non-hopping ) possible with the current tools ?

[2015-07-22 08:47] romankh opened #95 "Burst printer option: ignore dummy bursts"
Add an option to burst printer such that the dummy bursts are not printed out any more.

[2015-07-22 09:23] ptrkrysik commented on #94
W dniu 22.07.2015 o 09:26, gtr5 pisze:

Support for uplink can be relatively simply added to current gr-gsm. It
is a matter of:
-adding some form of configuration to grc/receiver/gsm_receiver.xml - my
proposition is to add a switch if user wants to process uplink streams
also or not, if yes then additional inputs with names like up0,up1, ...,
up${num_streams} would appear,
-adding parameter (true

[2015-07-23 17:13] romankh commented on #85
Closing issue, enhancement merged in 590d96c8874faae2ef7babd09fd5f081c5e5da8c

[2015-07-23 17:13] #85 closed

[2015-08-03 09:24] romankh opened #98 "test utilities improvements"
As discussed in the mailing list (see https://groups.google.com/forum/#!topic/gr-gsm/LLjv9GKjsf8):

* rename of "burst sink" and "burst source" to "burst file sink" and "burst file source"
* move QA Burst sink and source to a new category "qa_utils"
* rename QA Burst sink and source to "burst sink" and "burst source"
* remove QA utilities from GRC
* create a source and sink for testing messages

A

[2015-08-03 09:47] romankh opened #100 "flow control"
As discussed in the mailing list (see https://groups.google.com/forum/#!topic/gr-gsm/LLjv9GKjsf8), we will add some blocks for controlling the burst flow (and later message flow):

* New GRC category "Flow control"
* Add block "Timeslot splitter"
* Add block "Sub-slot splitter" with configuration for SDCCH/4 and SDCCH/8
* Add block "Framenumber filter" with configuration for "less or equal", "grea

[2015-08-03 09:49] romankh opened #101 "Message file sink / source"
As discussed in the mailing list (see https://groups.google.com/forum/#!topic/gr-gsm/LLjv9GKjsf8), we will add two new blocks

* message file sink
* message file source

which enable storing messages in a file and reading messages from a file, similar as for bursts.

[2015-08-03 13:48] ptrkrysik commented on #94
Hi all,

I'm assigning myself to this issue as I already made some moves toward implementing uplink reception and decoding.

[2015-08-06 07:57] romankh commented on #101
Closing that issue as feature was merged to master branch with pull request #102

[2015-08-06 07:57] #101 closed

[2015-08-06 07:58] romankh commented on #98
Closing this issue as feature was merged to master with pull request #102

[2015-08-06 07:58] #98 closed

[2015-08-06 07:58] romankh commented on #95
Closing this issue as feature was merged to master with pull request #102

[2015-08-06 07:58] #95 closed

[2015-08-06 08:02] romankh commented on #100
I will add two more blocks, as I found that timeslot splitter and sub-slot splitter have a drawback in some use cases. For example, I want to create a flow graph of capable extracting a given SDCCH subslot, where I can set params timeslot, sub-slot and SDCCH config. For that two filter blocks for timeslot and sub-slot with one port in and one port out would be more efficient:

[2015-08-06 08:39] ptrkrysik commented on #100
As I'm working currently on uplink support I will add later a filter block that passes downlink and uplink bursts based on user selection.

[2015-08-06 20:17] #81 closed

[2015-08-06 21:18] ptrkrysik opened #104 "Packaging gr-gsm"
Hi all,

We are looking for someone who has experience in creating deb and rpm packages (or someone who wants to learn how to do this) who would like to modify gr-gsm's cmake based buildsystem in order to create packages for Debian/Ubuntu and Fedora.

[2015-08-08 15:02] rpp0 commented on #51
As this block has been implemented, I think this issue can be closed.

[2015-08-08 15:02] #51 closed

[2015-08-08 17:08] ptrkrysik commented on #51
I think you are right. I kept that issue as there are some things that
need to be done in order to make frequency hopping more usable for
general public. But it will be better to be more specific. What needs to
be done is:
-implementing channelization - for this gnuradio's pfb channelizer (or
frequency xlating filter bank) can be used but ideally it would be best
to have something that have chance

[2015-08-08 17:22] ptrkrysik commented on #94
I've made step forward in uplink implementation. You can check it in uplink-decoding branch in which I've added a receiver block that receives both uplink and downlink. I have also changed control channels demappers in order to support uplink decoding. The code was tested on a capture where phone was located close (few meters) to the receiver.

[2015-08-08 21:53] iZsh commented on #79
I had the same crash: you have the make sure cmake configures SWIG to use the exact same pythonlib than the one you are actually using (usually the version from /opt/local/bin if you are using macports)

By default cmake finds the system python:
-- Checking for module SWIG
-- Found SWIG version 3.0.7.
-- Found SWIG: /opt/local/bin/swig
-- Found PythonLibs: /usr/lib/libpython2.7.dylib (found suitab

[2015-08-09 20:32] rpp0 opened #105 "Channel hopping improvements"
As mentioned in https://github.com/ptrkrysik/gr-gsm/issues/51 the following improvements can be made in context of channel hopping:
- Implementing channelization. GNU Radio's channelization block is not ideal for GSM in terms of performance, so a new block must be created.
- Adding documentation / example app.
- Adding a tutorial.
- Automatic detection of which channels to hop over.

I have self-a

[2015-08-09 20:34] rpp0 commented on #51
Yes I agree, that would be nice! I have created https://github.com/ptrkrysik/gr-gsm/issues/105 for these proposals.

[2015-08-10 10:24] ptrkrysik opened #106 "Regression in full rate decoding support"
The format of the file produced by the TCH/F decoder for transmission where full rate codec is used is not valid.

$ toast -d speech.au.gsm
returns
toast: bad frame in speech.au.gsm

[2015-08-10 19:14] romankh commented on #106
Will try to find the difference the next days.

[2015-08-10 19:46] ptrkrysik commented on #106
As we found out on the list - it's not exactly regression. The block is improved as the file produced by it doesn't need toast conversion now. There is some unpleasant noise at the beginning however. Getting rid of it will require some work.

[2015-08-10 19:46] #106 closed

[2015-08-10 19:48] ptrkrysik opened #107 "Noise at the beginning of file produced by full rate decoder"
There are some noises at the beginning of files produced by full rate decoder of TCF/F decoder block.

[2015-08-11 08:36] gtr5 commented on #94
What SDR are you using for capturing both downlink and uplink ? Also can uplink be decoded without synchronization with the downlink signal.

[2015-08-11 09:31] ptrkrysik commented on #94
W dniu 11.08.2015 o 10:36, gtr5 pisze:

Hi,

I'm using two USRPs N2x0 or one USRP X310 in order to have two separate
synchronized channels. I'm aware that it might be quite expensive setup
for normal user but we have to start from something and I've chosen
hardware that won't create any additional problems.

We might in the future implement two channel coherent receiver
consisting of two RTL-SDR d

[2015-08-11 11:01] romankh commented on #107
I implemented an option for a boundary check for voice traffic, addressing issue #107:

if this option is enabled (which it is by default), the decoder
* ignores any TCH bursts prior receiving either a "Connect" or "Connect Acknowledge" message
* ignores any TCH bursts after receiving a "Release" message

This eliminates almost all of the noise that is caused by those bursts.
In some cases there i

[2015-08-12 06:57] ptrkrysik commented on #107
Not having to use toast to convert the file is definitely an improvement :)

[2015-08-12 06:57] #107 closed

[2015-08-12 16:20] bluelightvision commented on #94
Hi,

Concerning the SDR to be used, the UmTRX could probably be a suitable choice ( didn't test it yet ) since it has two channels, its cheaper than the usrp and its designed to be used for GSM.

[2015-08-12 16:49] ptrkrysik commented on #94
W dniu 12.08.2015 o 18:20, bluelightvision pisze:

Hi,

Probably any device that has two independent synchronous RX channels
should be good for uplink reception.

UmTRX also has advantage of having sampling rate equal to 26MHz - which
is integer multiply of of GSM symbol rate. The result is that you need
only decimation in order to obtain GSM signal with proper sampling rate.

--
Best Regards,
Pio

[2015-08-12 16:58] bluelightvision commented on #94
Concerning the decoding of uplink control channels, shouldn't you get data flowing just by monitoring the correct frequency as in downlink control channels. Does higher distances from the target phone have other effects than resulting in a weaker signal?

[2015-08-12 18:04] ptrkrysik commented on #94
W dniu 12.08.2015 o 18:58, bluelightvision pisze:

Weaker signal and higher inter-symbol interferences due to multipath
propagation.

In my test data I get some unencrypted traffic on uplink in SDCCH
channel. I didn't make successful test where data from other phones was
decoded. I didn't make too many tests yet however.

--
Best Regards,
Piotr Krysik

[2015-08-13 14:48] Test5467 opened #109 "Build with pybombs - error - can you help?"
Built target pygen_swig_d325e

Traceback (most recent call last):
  File "/home/mac/target/bin/grcc", line 30, in <module>
    from grc.python.Platform import Platform
ImportError: No module named grc.python.Platform

Traceback (most recent call last):
  File "/home/mac/target/bin/grcc", line 30, in <module>
    from grc.python.Platform import Platform
ImportError: No module named grc.python.Platf

[2015-08-13 21:06] ptrkrysik commented on #109
Hi, issues on github are currently used for problems that are better defined. Please ask the same question on the list. Issue will be filled only if we figure out that something is really wrong with gr-gsm. Also - please provide more details, for example:
-what system/distribution do you use,
-what version of gnuradio do you use and how you installed it

[2015-08-13 21:06] #109 closed

[2015-08-13 21:07] ptrkrysik commented on #109
mailing-list: https://github.com/ptrkrysik/gr-gsm/#mailing-list

[2015-08-13 22:22] sparks57 commented on #94
I am also interested in catching some of the uplink packets with just a single RTLSDR but I understand that doesn't work yet.  I did try to build it anyway and got TypeError: Required argument 'uplink_starts_fn_mod51' (pos 4) not found when trying to run the airprobe_rtlsdr.py file.

I also have a bladerf; would that work with this code somehow?

[2015-08-14 06:18] ptrkrysik commented on #94
W dniu 14.08.2015 o 00:22, sparks57 pisze:

I didn't check if new code doesn't brake current apps. I'm using
modified flowgraph where I have UHD source receiving two channels and
then version of GSM receiver that processes uplink.

Regarding bladerf - I've looked into it's specification and it has
single with bandwidth up to 40MHz. Acording to this it won't be possible
to do this with single devic

[2015-08-15 08:30] ptrkrysik commented on #79
I'm closing the issue. I can't provide support for Mac as I don't have any Apple computer and I can't test gr-gsm on MacOSX.

[2015-08-15 08:30] #79 closed

[2015-08-15 08:31] #76 closed

[2015-08-15 08:37] ptrkrysik commented on #77
I decided that it won't be changed as we at this version as we will probably drop current grc based apps.

[2015-08-15 08:37] #77 closed

[2015-08-15 08:38] ptrkrysik commented on #70
I'm closing the issue for now - if new ideas will emerge let's continue this matter on the mailing list.

[2015-08-15 08:38] #70 closed

[2015-08-15 09:17] ptrkrysik commented on #57
Hi Roman,

What is status of this issue? I know you already integrated A5/3 but I haven't tested AMR support myself.

[2015-08-15 10:34] romankh commented on #57
Hi Piotr,

haven't been successful capturing AMR TCH speech channels for testing so far.
I have to share access to a N210 with another guy, I believe I won't get the N210 in the next two weeks. That was limiting me to the GSM 900 band with RTL-SDR.

Besides the BTS the handed me over to a 1800 ARFCN right after call setup, there was only one more BTS without hopping TCH chans. I successfully captu

[2015-08-15 12:13] iZsh opened #110 "commit 242522fbee59c9703d9fed35923486db5effb7d1 breaks first install"
your recent commit 242522fbee59c9703d9fed35923486db5effb7d1 is breaking a first install insofar as it's trying to generate the airprobe_*.py files from grc but of course the module are not yet available in grc's path if it's a first install.

I'm guessing you didn't notice it since you already have gr-gsm installed on your computer

[2015-08-15 17:22] ptrkrysik commented on #110
Thanks for the report. I will revert this change until I figure it out
how to do this correctly.

[2015-08-15 18:41] Lethaha opened #111 "Unable to complete installation"
I followed the following steps in installing gr-gsm on my HP Probook laptop:

sudo apt-get install git
git clone https://github.com/pybombs/pybombs.git
cd pybombs
./pybombs config
sudo ./pybombs install gr-gsm

I'm running ubuntu 14.10 and everything installs perfectly until throwing the error below:

[100%] Built target pygen_swig_9c20d

Traceback (most recent call last):
  File "/usr/local/bin/g

[2015-08-15 19:55] ptrkrysik commented on #111
I think that I've corrected this issue. Please pull new version and check now if you can.

[2015-08-15 21:26] iZsh opened #112 "demapping/decoder blocks should not mutate the GSMTAP's header but copy it"
currently the demapping blocks (e.g. the universal ctrl chans demapper or the tch one) change the GSMTAP's header in place:

gsmtap_hdr * header = (gsmtap_hdr *)pmt::blob_data(header_plus_burst);
[...]
header->sub_type = ch_type;

the problem is that if we connect the GSM receiver block to the socket UDP block to broadcast the initial GSMTAP_TYPE_UM_BURST packet, we get a race condition where the

[2015-08-16 00:25] ijarraki commented on #111
Yes, build errors have been resolved but issue #110 persists. Last working commit is 57711f6694d1f477342cc8fc46fdd64017bf11b7

[2015-08-16 00:48] ijarraki opened #113 "Missing functionality"
I am finding gr-gsm to be spectacularly superior compared to legacy airprobe as far as tuning into and decoding GSM channels. Unfortunately it is *currently* lacking some of said legacy softwares functionality, the highlights of which are:

1: Frame numbers are not shown in console output
2: airprobe_file.py has not options for specifying decimation rate, timeslot, configuration etc
3: airprobe_fi

[2015-08-16 00:54] ijarraki opened #114 "Recording traffic data"
Now, I am just getting into this field so please excuse me if I am asking a dumb question here. Would it be possible to modify airprobe_rtlsdr.py with a file sink (or something) so that the raw GSM data (post fine-tuning through UI) can be stored to a capture file as well as being parsed to Wireshark?

This way we can fine-tune into and look at traffic as well as being able to replay the exact sam

[2015-08-16 01:50] ijarraki commented on #114
I just found https://groups.google.com/forum/?_escaped_fragment_=topic/gr-gsm/1C7LQCOgLEY# in which ptrkrysik provides a means of generating a compatible cfile directly from rtl-sdr source.

Having a -o/--output-file option in airprobe_rtlsdr.py would be much better since we can then fine-tune to the frequency we want to see and record. Any way to modify airprobe_rtlsdr.grc so that traffic is stor

[2015-08-16 05:49] romankh commented on #112
First of all, please use the mailing list https://groups.google.com/forum/#!forum/gr-gsm for general questions and discussions, as we try to use the issue tracker for development and bug fixing, e.g. issues that will have code changes as outcome.

I will answer your question here for now, if you have more questions about it, please use the mailing list.

The demapper blocks are intended to be used

[2015-08-16 06:04] romankh commented on #113
Hi,

please use the mailing list https://groups.google.com/forum/#!forum/gr-gsm for general questions and discussions.

I answer your question here, if you have more, please use the mailing list.

ad 1: The burst printer has the capability of showing prepending the framenumber for bursts. Maybe we should add this capability to the message printer as well.

ad 2: Decimation can be set by setting th

[2015-08-16 06:07] romankh commented on #114
As mentioned in the previous issue, we are going to provide some python apps to improve usability.

[2015-08-16 08:48] iZsh commented on #112
unless i misunderstand what you just said, I don't think I was clear about what the bug is. I'm not asking how GSM or gr-gsm is working. I'm reporting a bug: a race condition.

Currently the demapper is NOT generating a new message, and that's the problem: it is modifying its input message in-place. You are getting a pointer from it, and then modifying the INPUT message using that pointer instead

[2015-08-16 09:44] romankh commented on #112
Sorry, misunderstanding was from my side, now I got it.
You are right, this is a bug.

[2015-08-16 09:55] iZsh commented on #112
I'm trying to fix it in my sandbox, with the following patch:

diff --git a/lib/demapping/universal_ctrl_chans_demapper_impl.cc b/lib/demapping/universal_ctrl_chans_demapper_impl.cc
index 8a6bfb5..d0fc3f1 100644
--- a/lib/demapping/universal_ctrl_chans_demapper_impl.cc
+++ b/lib/demapping/universal_ctrl_chans_demapper_impl.cc
@@ -140,7 +140,7 @@ namespace gr {
     {
         pmt::pmt_t header_plu

[2015-08-16 10:12] iZsh commented on #112
Oh I think I forgot to copy the data of the message :-)
sorry, me being stupid

[2015-08-16 10:13] romankh commented on #112
Wanted to write about the payload right now :)
Thanks a lot for fixing the issue

[2015-08-16 10:14] iZsh commented on #112
I'll send you a patch in a minute

[2015-08-16 10:16] romankh commented on #112
Thanks, but no hurry, I don't do the merges, @ptrkrysik does.

[2015-08-16 11:24] iZsh commented on #112
here is the patch for it (sorry, I'm being lazy because i'm in the middle of something, so I didn't branch it and did a pull request)

    diff --git a/lib/decoding/control_channels_decoder_impl.cc b/lib/decoding/control_channels_decoder_impl.cc
    index 3ea3fd9..1d25664 100644
    --- a/lib/decoding/control_channels_decoder_impl.cc
    +++ b/lib/decoding/control_channels_decoder_impl.cc
    @@ -

[2015-08-16 11:26] ijarraki commented on #114
Great, but can anyone tell me if it is possible and then where to add a file sink to the current distributions GRCs so that the tuned GSM data does get dumped to a file?

[2015-08-16 12:08] ptrkrysik commented on #111
If it persist - how it can be distinguished from error #111? I thought it is one and the same problem with building of gr-gsm failing during compilation of grc files.

There might be different problem though - I observe segmentation faults of grcc that happen occasionally during installation.

[2015-08-16 12:27] ptrkrysik commented on #114
You can connect the file_sink directly after rtl-sdr source in airprobe_rtlsdr.grc (using gnuradio-companion of course) so exactly the same signal as you receive will be stored in a file. Also - for discussions regarding things other than bugs we use now the mailing list.

[2015-08-16 12:32] iZsh commented on #112
I feel bad about this, so I'm preparing a real pull request. Should be done in a minute

[2015-08-16 15:32] dslokva commented on #79
Hi!

It works, thanks a lot!

[2015-08-16 20:38] #112 closed

[2015-08-16 22:19] ijarraki commented on #114
It is not my intention to ignore the mailing list, I just figured that we should resolve this "issue" here and then I will of course post any future questions to the mailing list.

I have inserted a file sink into airprobe_rtlsdr.grc (https://pastebin.com/APqZPBz9) and used the resulting airprobe_rtlsdr.py to record five minutes of traffic on a non-hopping ARFCN.  Replaying said capture with airpr

[2015-08-16 22:30] ijarraki commented on #114
It is not my intention to ignore the mailing list; my thinking is that we should resolve this "issue" here and then I will of course ask any future questions through the ml.

I have added a file sink to airprobe_rtlsdr.grc (http://pastebin.com/CKUrhVUB) and used the resulting airprobe_rtlsdr.py to record five minutes of traffic on a non-hopping ARFCN. Replaying the capture file through airprobe_fi

[2015-08-16 22:33] ijarraki commented on #111
I no longer get fatal errors during "make", but like with issue #110 airprobe_rtlsdr.py and airprobe_file.py are not placed in PATH by "make install".

[2015-08-17 05:18] ptrkrysik commented on #114
Regarding legacy airprobe - we don't provide support for it. Everything
that was possible with it is now possible with gr-gsm. There are no
equivalent commandline parameters for conffiguration of timeslots in the
gr-gsm apps yet that were available in the old airprobe but everything
can be configured by modification of the flowgraph (in
airprobe_file.grc). If you tell me some examples of what you

[2015-08-17 06:06] ptrkrysik commented on #111
This is different thing than what was described in #110. I didn't notice
this - thank you for the report.

[2015-08-17 17:09] ijarraki commented on #111
Confirmed, commit 20d2de40b95fcc846a989022396e1851cc9264b3 has resolved this issue.

[2015-08-17 17:23] ijarraki commented on #114
Of course I do not expect you to provide support for legacy airprobe, I'm just asking if you have any ideas.

The capture file was generated using a sample rate of 1M (for some reason I get peaks at both 943M and 944.3M, decoded packets show that this is in fact the same BTS/ARFCN). As to the specific decimation rates of the USRP1/2 I seem to recall that these are 112/174?

Can you confirm that bo

[2015-08-17 17:34] ptrkrysik commented on #114
W dniu 17.08.2015 o 19:23, ijarraki pisze:

Decimation rate without original sample rate doesn't make too much
sense. When only practically available SDR was USRP1 it could be assumed
that sample rate was 64MHz - as this was sample rate of the device. In
RTL-SDR you can set sample rate quite flexibly and it doesn't have to be
64MHz divided by some integer. I don't know HackRF but probably also it

[2015-08-18 19:28] #110 closed

[2015-08-18 19:28] #111 closed

[2015-08-19 10:45] ijarraki commented on #114
Yes, the twin peak (pun intended) went away after I moved a nearby power strip.

As to cfile by gr-gsm not working all that well with legacy airprobe: If I tune to 944M with gr-gsm I get a distinct peak about ten times higher than the surrounding/level static and no decode errors. With legacy airprobe the peak is barely noticeable and I get mostly decode errors. Could these issues be related and d

[2015-08-19 12:29] ptrkrysik commented on #114
W dniu 19.08.2015 o 12:45, ijarraki pisze:

Hi,

If you record the signal on the same frequency outside of gr-gsm with
the same device everything is well?

Regarding the spectrums that you are comparing - are you 100% sure that
they are both computed directly at the output of the receiver with the
same reception parameters (bandwidth, gain)? I doubt it.

On the sidenote: the frequency offset corre

[2015-08-24 20:36] ptrkrysik opened #120 "Multiple problems with installation"
Due to extensive development some problems with installation were introduced.

One of them is related to adding libosmocore to gr-gsm's dependencies. Libosmocore is depends on psclite (required for simcard communication - functionality not used in gr-gsm). On ubuntu pybombs fails to install psclite as it doesn't fond recipe for libudev-dev package - user has to install libudev-dev manually. I don'

[2015-08-24 20:51] romankh commented on #120
For the psclite, I am the one to blame :/
I removed it from the libosmocore recipe in my pybombs installation, and later forgot to handle that somehow.

I agree, probably installing libosmocore without pcsclite is the best option, however we again end up with a custom pybombs installer, or at least custom recipes. Or did I miss something ?

Whats the other problem with cmake ? Haven't noticed that

[2015-08-25 06:25] ptrkrysik commented on #120
W dniu 24.08.2015 o 22:51, Roman Khassraf pisze:

I think it's more of a problem of pybombs and libosmocore that hit us
because of our dependency on libosmocore. Pybombs guys might not be
aware yet that psclite in order to compile itself needs libudev-dev.
The fastest solution might be to add dependency on libudev-dev in
psclite's recipe and add recipe for libudev-dev (and hope this will be
the en

[2015-08-25 08:15] romankh commented on #120
I think I will have the decoder app until tomorrow evening, so maybe we could remove the grc compilation after merging.

Will also try to create a working recipe for psclite after that, hope it will not make too much troubles.

[2015-08-25 11:49] ptrkrysik commented on #120
W dniu 25.08.2015 o 10:16, Roman Khassraf pisze:

Ok, I've found one problem with gr-gsm's pybombs recipe. In the install
there is following command:
cd build

the pybombs is already in build directory at that moment and stops on
this command.

--
Best Regards,
Piotr Krysik

[2015-08-25 17:33] ijarraki commented on #114
No, recording the same BTS, at the same frequency, with the same hardware mostly fails with legacy airprobe (tons of decode errors). Replaying a cfile successfully captured with gr-gsm through legacy airprobe also mostly fails, lots of those same errors (of course the cfile works just fine with gr-gsm).

"Airprobe didn't work for some of base stations which transmitted normal bursts at different p

[2015-08-28 21:26] sdrUser commented on #94
I have a question about uplink decoding.

I have a single channel radio only. I am recording the uplink channel side in a building where I am the only phone on the network.  After that, I manually go through the data and extract the groups of 4 normal "uplink" bursts and try to run them through a small program that calls your downlink decoder functions using simple CPP code from a command line env

[2015-08-29 15:48] romankh commented on #120
I assigned this to myself now, will (try to) fix the pcsclite problem

[2015-08-29 17:18] romankh commented on #120
@Piotr (or anyone else), could you cross check my fix: https://github.com/romankh/recipes

[2015-08-29 18:50] ptrkrysik commented on #94
W dniu 28.08.2015 o 23:26, sdrUser pisze:

Hi,

When you say "4 consecutive bursts" you mean "bursts in the same
timeslot in 4 consecutive frames" (probably yes if decoding worked for
downlink but I want to be sure)? If you see only them inside of multiple
frame periods - then most probably they are all part of the same message.

Regarding the differences - the main difference from downlink is tha

[2015-08-29 20:23] ptrkrysik commented on #120
@romankh, I've started installation with pybombs in virtual machine with
clean Ubuntu 14.04. I will let you know of the result as soon as it ends.

[2015-08-30 09:22] ptrkrysik commented on #120
@Roman - I can confirm that after application of your fixes gr-gsm can
be installed with pybombs on a clean Ubuntu 14.04.

[2015-08-30 10:19] romankh commented on #120
Piotr, thanks for verification, I created a pull request to Gnuradio's recipe repo.

[2015-08-30 14:34] romankh commented on #120
Fix is merged into the recipe repo.
Guess we can close that issue ?

[2015-08-30 16:27] ptrkrysik commented on #120
I'm closing the issue. I will also add missing information about libosmocore in manual installation description.

[2015-08-30 16:27] #120 closed

[2015-08-30 17:18] ptrkrysik commented on #114
Look at the decoding application added by @romankh - it might be what you need.

[2015-08-30 17:18] #113 closed

[2015-08-30 17:20] ptrkrysik commented on #58
Update - the decode application #121 implements this functionality.

[2015-08-30 17:20] #58 closed

[2015-09-01 13:15] sdrUser commented on #94
Thank you sir for the information. You did answer my main question of... Are the bursts different when it comes to the decoding? They are the same.

To answer your questions. Yes, these are all consecutive frames/bursts on the same timeslot. I have also taken into account the 3 timeslot periods for the uplink, since there is only one phone/sets of bursts showing up in our graphs. As for unencrypte

[2015-09-01 13:21] ptrkrysik commented on #94
For example how to get the alignment - look at this paper:
http://boris.unibe.ch/40204/1/islam2.pdf

[2015-09-01 13:25] ptrkrysik commented on #94
The discussion doesn't concern issues/bugs in gr-gsm so if you itend to
continue it (I hope you do) please write to the mailing list:
https://github.com/ptrkrysik/gr-gsm#mailing-list

You can add short introduction with pointing to this thread and that the
discussion is a continuation of it.

[2015-09-03 19:23] orsty3001 opened #122 "Installation problem, Bison dependancy error."
Trying to install gr-gsm using pybomb and I get this error.

checking for bison... yes
checking for bison version >= 2.5... no
configure: error: Bison version 2.5 or higher must be installed on the system!
Configuration failed. Re-trying with higher verbosity.
make: *** No targets specified and no makefile found.  Stop.
Build failed. See output above for error messages.

Bison is already installed

[2015-09-04 05:20] romankh commented on #122
Hi @orsty3001,
please open a thread in the mailing list and provide more detailed information about your installation.
See the readme for both the mailing list and a minimum set of information regarding installation problems.

[2015-09-06 22:20] ijarraki commented on #114
Yes, the decoding application is looking good but it does not print frames/bursts to console? We need a way to replay cfiles (like what airprobe_file.py did) with frame and modified frame numbers to console.

[2015-09-07 05:55] romankh commented on #114
airprobe_decode.py should already send gsmtap messages to udp port 4729, as the airprobe_file.py did before.

I can add an option for printing dumping bursts / messages in the next days, meanwhile you can still use airprobe_file, the flow graph is just moved to the examples directory.

For the newer apps (capture and decode), there are no grc files, they are just written manually in python.

[2015-09-07 08:01] AxisRay opened #125 "ImportError: cannot import name Range"
When I run **airprobe_rtlsdr.py** with gnuradio 3.7.5,there is an Error

[2015-09-07 08:06] ptrkrysik commented on #125
W dniu 07.09.2015 o 10:01, Ray Lee pisze:

Hi,

Try to open airprobe_rtlsdr.grc in gnuradio-companion and run it there.
Then write here if it worked or not.

--
Best Regards,
Piotr Krysik

[2015-09-07 11:39] AxisRay commented on #125
It worked! Thank you !

[2015-09-07 11:39] #125 closed

[2015-09-10 22:59] ijarraki commented on #114
Strange, Wireshark is not getting any data from airprobe_decode (tested on the last two commits). Also, airprobe_file is nowhere to be found in the examples directory?

If/when you do add an option for printing bursts/frames to airprobe_decode please make the output look like it did in legacy airprobe (with frame numbers, C1/C0, etc) like you discussed in pull request 59 (https://github.com/ptrkry

[2015-09-11 20:59] romankh commented on #114
Sorry, airprobe_file was removed recently.
But you can re-create it using grc if necessary.
Drop me a note on the mailing list if you need help with that, or with airprobe_decode.

I am going to add message output to airprobe_decode this weekend, with frame number and modified frame number

[2015-09-13 08:28] romankh opened #127 "airprobe_decode: print messages"
I will add an option to print decoded messages to airprobe_decode.
This will include printing the frame number and mod. frame number.

Therefore, I will
* add options to print frame numbers to message printer
* add message printer to airprobe_decode

[2015-09-14 10:25] ptrkrysik commented on #114
The aiprobe_file.grc was moved here:
https://github.com/ptrkrysik/examples/blob/master/get_bcch_msgs_from_cfile/get_bcch_msgs_from_cfile.grc

You can open it in gnuradio-companion, generate python file and use it
the same way as airprobe_file.py.

To download examples you can do:
git submodule init examples
git submodule update examples

in the gr-gsm's directory.

[2015-09-14 13:30] romankh commented on #127
Closing this as implementation has been merged.

[2015-09-14 13:30] #127 closed

[2015-09-14 18:07] ptrkrysik commented on #122
I've installed gr-gsm using pybombs on clean Ubuntu 14.04. Closing the issue because of inability to reproduce it.

[2015-09-14 18:07] #122 closed

[2015-09-14 18:08] #114 closed

[2015-09-17 19:25] dmaynor opened #129 "Possible missing include"
On OSX the build fails at:

[ 50%] Building CXX object lib/CMakeFiles/gnuradio-grgsm.dir/misc_utils/message_printer_impl.cc.o
/Users/dmaynor/code/gr-gsm/lib/misc_utils/message_printer_impl.cc:44:29: error: use of undeclared identifier 'be32toh'
        uint32_t frame_nr = be32toh(header->frame_number);
                            ^
1 error generated.
make[2]: *** [lib/CMakeFiles/gnuradio-grgsm.dir

[2015-09-20 11:16] ptrkrysik commented on #129
Hi @dmaynor ,

I've added missing include of grgsm/endian.h .
Can you report if it works now?

[2015-09-21 19:04] nejohnson2 commented on #125
I am getting the same error as above, though when I run **airprobe_rtlsdr.grc** from **gnuradio-companion** I get the following error:

[code]

I should note that I'm trying to run this from a Raspberry Pi.  Everything seemed to install ok...

Thanks!

[2015-09-21 19:50] ptrkrysik commented on #125
Hi Nicholas,

Can you try invoking:

ldconfig

with root privileges?

[2015-09-25 00:27] ijarraki opened #130 "airprobe_rtlsdr.py: ImportError: cannot import name Range"
Same as issue #125 when compiling/installing on a clean Debian Jessie system snapshot (which has never had gr-gsm installed (so maybe related to issue #110?)). I've tested the last few commits, same result (and yes, I ran ldconfig ;).

I've added

to /home/user/.gnuradio/config.txt and ran an old airprobe_rtlsdr.grc through gnuradio-companion, the resulting .py is working fine.

[2015-10-01 06:25] ptrkrysik commented on #130
Hi @ijarraki ,

can you send the airprobe_rtlsdr.py generated by you?

[2015-10-02 00:09] ijarraki commented on #130
https://pastebin.com/HhvRQQ9w

[2015-10-11 05:29] djaCarletonS commented on #130
Hey there!

I have been working on this for a while and just found your thread.  I am having the same issue.  I have done what you mention above with no joy.  when I pull up the airprobe_rtlsdr.grc through gnuradio-companion I can see that there are 4 missing blocks. 3 are the variable_gtGui_range blocks and the other is the gtgui_freq_sink_x.
I also ran ldconfig and added the config.txt and a con

[2015-10-12 06:38] ptrkrysik commented on #130
Hi @ijarraki,

I've commented out lines incompatible with GNU Radio 3.7.3 from airprobe_rtlsdr.py.

@djaCarletonS
It seems that your problem is different as you don't see GNU Radio that should be available in gnuradio-companion.

[2015-10-14 14:51] djaubin commented on #130
The problem was trying to install on a raspberry pi B+ with kali.

I have since reformatted an old MSI laptop I had. Downloaded UBUNTU 15.04, updated and upgraded 2 times and then went through the process. SUCCESS!!

I am now trying to understand the process of use.
I have found GSM850 siganls and try to view them in wireshark. Currently it seems as if I get one packet with a type one request but

[2015-11-21 00:56] blackdog07 commented on #81
So I just tried to install gr-gsm on Kali 2.0. Ran into problems and googled and found this. So I got it to work I believe by doing this as user root.

apt-get install cmake libboost-all-dev gnuradio-dev libvolk-dev libcppunit-dev libosmocore doxygen swig
apt-get install build-essential libtool shtool autoconf automake git-core pkg-config make gcc liblog4cpp5-dev libpcsclite-dev

git clone git://g

[2015-11-21 16:19] blackdog07 commented on #81
Follow-up
Ok I was able to get gr-gsm to work but I then tried to install Kalibrate-hackrf and it failed to build
I searched the Internet and found a blog that said that the guy installed gr-gsm with pybombs and kalibrate-hackrf would build ok but if not it wouldn't build. So I just did a pybombs install of gr-gsm on top of the install described above and I could then build kalibrate-hackrf.
The p

[2015-11-22 07:17] ptrkrysik commented on #81
Thank you for sharing the steps needed to run gr-gsm on Kali Linux.
The libosmocore is first installed from distribution's repository and
then built manually.

Did you try to compile gr-gsm without manual building of libosmocore but
only installing with apt-get?

[2015-11-23 05:52] blackdog07 commented on #81
I first installed libosmocore via apt-get and tried to compile gr-gsm and had errors. I then did apt-get remove libosomocore and then built from source. That's what lead me to building it from source. Sorry I wasn't too clear on that.

[2015-12-02 12:36] nebukadnezar opened #134 "internal compiler error"
Getting this on trying to compile. Ubuntu 14.04, gcc 4.8.4:

Installing from source: uhd
Building:    (100%) [========================================================================]
Build failed. Re-trying with reduced makewidth and higher verbosity.
[  4%] [  5%] Built target man_page_gzips
Built target getopt
[  6%] [  6%] [  6%] [  6%] Building CXX object lib/CMakeFiles/uhd.dir/transport/tcp_

[2015-12-05 08:08] ptrkrysik commented on #134
This is problem with installation of UHD. If you don't use Ettus USRPs you can try to disable installation of uhd by editing pybombs/config.dat.
Edit the line:
forcepkgs = gnuradio,uhd,gr-air-modes,gr-osmosdr,gr-iqbal,gr-fcdproplus,uhd,rtl-sdr,osmo-sdr,hackrf,gqrx,bladeRF,airspy

by removing uhd to:
forcepkgs = gnuradio,gr-air-modes,gr-osmosdr,gr-iqbal,gr-fcdproplus,uhd,rtl-sdr,osmo-sdr,hackrf,gqr

[2015-12-05 08:08] #134 closed

[2015-12-09 20:45] Mohitsharma44 opened #135 "GSM input adaptor(9): insufficient connected input ports (1 needed, 0 connected)"
I am trying to use airprobe_rtlsdr.py using bladerf on an Ubuntu 14.10 machine.
I have installed everything using pybombs but running the airprobe_rtlsdr.py (with or without sudo) returns GSM input adaptor(9): insufficient connected input ports (1 needed, 0 connected).
I am attaching the traceback:
[code]

I tested the sdr using osmocom_fft and I can see the waveforms, so I guess the blade is inst

[2015-12-09 20:54] Mohitsharma44 commented on #135
Looking at the traceback I think it was the Volk library causing the issue but runing osmocom_fft uses avx_64_mx and works without any issue.

[2015-12-12 04:39] krisk84 commented on #135
I installed everything using pyboms on Linux Mint 17 and am experiencing the same issue:

linux; GNU C++ version 4.8.4; Boost_105400; UHD_003.010.git-101-g4a1cb1f2

gr-osmosdr v0.1.4-55-g7cec4c0f (0.1.5git) gnuradio v3.7.8.1-306-g484423e3
built-in source types: file osmosdr fcd rtl rtl_tcp uhd hackrf bladerf rfspace airspy
Using device #0 Realtek RTL2838UHIDIR SN: 00000001
Found Elonics E4000 tune

[2015-12-12 06:30] ptrkrysik commented on #135
Please open apps/airprobe_rtlsdr.grc in gnuradio-companion and send
screenshot of the flowgraph.

[2015-12-12 13:43] p0acher-101 commented on #135
Same issue on a fresh Ubuntu install with gr-gsm from pybombs.  (In fact same issue also on a new Kali install as well.)
![airprobe grc](https://cloud.githubusercontent.com/assets/15238408/11762154/484fefc4-a0d6-11e5-9496-41108c7a0e51.png)

[2015-12-12 13:44] p0acher-101 commented on #135
Output from Grc:
<<< Welcome to GNU Radio Companion v3.7.8.1-297-ga463fecc >>>

Preferences file: /home/poacher/.gnuradio/grc.conf
Block paths:
	/usr/local/share/gnuradio/grc/blocks
	/home/poacher/.grc_gnuradio

Loading: "airprobe.grc"

Showing: "/home/poacher/airprobe.grc"

Generating: '/home/poacher/airprobe_rtlsdr.py'

Executing: '/usr/bin/python2 -u /home/poacher/airprobe_rtlsdr.py'

linux; GN

[2015-12-12 15:04] Mohitsharma44 commented on #135
I don't know if it helps but I tried debugging by checking the output of every block using fft sink and everything works fine till the input reaches gsm input adaptor block.

Sent from my iPhone

[2015-12-12 15:11] ptrkrysik commented on #135
I can't reproduce the problem. Can you describe exactly how did you
install GNU Radio and gr-gsm?

[2015-12-12 16:59] Mohitsharma44 commented on #135
I had first installed the bladerf drivers from ppa as mentioned here: https://github.com/Nuand/bladeRF/wiki/Getting-Started%3A-Linux#Easy_installation_for_Ubuntu_The_bladeRF_PPA

Then I followed the instructions for installing gr-gsm from the wiki (using pybombs): https://github.com/ptrkrysik/gr-gsm/wiki/Installation

It didn't work and crashed with above mentioned errors so I installed (only) lib

[2015-12-12 17:07] ptrkrysik commented on #135
Ahhh... you are using bladerf. I haven't ever tested gr-gsm with it.

Maybe gr-osmosdr has some problem with support of bladerf. Can you run
any gnuradio-companion flowgraph with RTL-SDR source and your bladerf?

If yes:
Do you have maybe RTL-SDR dongle and can check if airprobe_rtlsdr starts
with it?

[2015-12-12 17:35] Mohitsharma44 commented on #135
I did test the airprobe with NooElec rtl sdr dongle (I mentioned in my 1st comment) but it too fails with the exact same error.

[2015-12-12 20:08] krisk84 commented on #135
Fresh install with bladerf removed hard (removed recipe, removed gr-gsm dep, removed all traces from system) and same error:

linux; GNU C++ version 4.8.4; Boost_105400; UHD_003.010.git-101-g4a1cb1f2

gr-osmosdr v0.1.4-55-g7cec4c0f (0.1.5git) gnuradio v3.7.8.1-311-g8c42ed29
built-in source types: file osmosdr fcd rtl rtl_tcp uhd hackrf rfspace airspy
Using device #0 Realtek RTL2838UHIDIR SN: 00000

[2015-12-14 06:25] DesignerMix commented on #135
*Sorry for my bad english

Hi i'll get the same problem. I use Ubuntu 15.10 x64, GR-GSM installed with help of pybombs, HackRF One with firmware 2015.07.2.

Earlier you asked if was any problem with installation, and i decide to tell - While i installing gr-gsm using pybomb i get problem because talloc was not installed, so i'll install it from tar.gz and after that start installing gr-gsm with py

[2015-12-14 10:57] ptrkrysik commented on #135
W dniu 14.12.2015 o 07:25, DesignerMix pisze:

Hi,

There is issue with installation - libosmocore requires talloc now, but
the recipe in pybombs wasn't updated to install it. If I install it using
apt-get install libtalloc-dev
then pybombs is able to compile libosmocore.

However I think that what you guys are experiencing might be caused by
something different. I will look into this at the end o

[2015-12-14 13:09] DesignerMix commented on #135
the recipe in pybombs wasn't updated to install it. If I install it using
apt-get install libtalloc-dev

Thanks, now i will know how to install talloc without tar.gz. and understand the problem a little.

something different.

Maybe it not important but - i remember that - while i install pybombs it installing gnuradio without problem but after installation it not associated with .grc and i instal

[2015-12-14 13:49] ptrkrysik commented on #135
I suggest that you remove completely gnuradio installed from Ubuntu's
repository, install talloc with command that I provided and install
gnuradio and gr-gsm from source with pybombs. I don't know if it'll help
because I'm still not able to reproduce the problem. I've used gr-gsm
with gnuradio installed both from source and from repository on Ubuntu
15.10.

[2015-12-14 15:55] Mohitsharma44 commented on #135
It gives me the same error on Ubuntu 15.10 as well. (pybombs installs bladerf so I did not install it manually. I can confirm this since osmo_fft does work.)

I performed a fresh install of gr-gsm on Ubuntu 15.10:
[code]

[2015-12-14 16:14] ptrkrysik commented on #135
@Mohit, to be sure, you are not following the part of the guide where
forcebuild parameter of pybombs is changed?

[2015-12-14 16:21] Mohitsharma44 commented on #135
No. I followed the instructions from Wiki page here: https://github.com/ptrkrysik/gr-gsm/wiki/Installation

[2015-12-14 17:58] ptrkrysik commented on #135
Did you invoke:
./pybombs config forcebuild ' '
?
(in order gnuradio from source you shouldn't)

[2015-12-14 18:04] Mohitsharma44 commented on #135
I see, from the wiki I inferred that since Ubuntu 15.10 has GNURadio >= 3.7.3, I should run `force build` to avoid the time that gnu takes to build from source.
Let me do a fresh install and I'll update you. Just to confirm, I will be running all the same steps Except ` ./pybombs config forcebuild ' ' `

[2015-12-14 19:24] Mohitsharma44 commented on #135
@ptrkrysik So when I do it without forcebuild, It stops after installing ` boost_1_53_0 `. I re-execute the pybombs command to install gr-gsm and this time it populates the list of remaining packages and crashes on installing _uhd_. I have copied the log of installation here: http://pastebin.com/gFHJ6nU2

[2015-12-14 20:08] DesignerMix commented on #135
@Mohitsharma44 try to execute with -v switch, like this ```sudo ./pybombs install -v gr-gsm``` it will show all log and maybe you can find why it crash.

@ptrkrysik i install fresh ubuntu 15.10, then execute ```apt-get install libtalloc-dev```, then follow this instruction https://github.com/ptrkrysik/gr-gsm/wiki/Installation but without ```./pybombs config forcebuild ' '```. All installed normall

[2015-12-14 22:28] Mohitsharma44 commented on #135
@DesignerMix I tried with -v it checks for installed components and then starts installing uhd but it crashes when building uhd package. (same error log as I have copied in above link). It is weird same distro but different results. I'll try again before calling it a day.

[2015-12-15 11:13] gtr5 commented on #94
I tested the uplink decoder and it works fine!
I think you should include it in the master branch.

[2015-12-15 20:47] TotalDay commented on #135
RuntimeError: GSM input adaptor(9): insufficient connected input ports (1 needed, 0 connected)

Kali Linux 2

14 hours of installing and testing and no luck

Istalled via apt-get
Remove all and intalled from source
Installed to /usr - then to /usr/local and to opt - no luck

installed all dependences - no luck

устал и заебался - нихуя не работает.

[2015-12-18 09:37] J4r3tt commented on #135
I have Ubuntu 15.10 and same problem

[2015-12-18 11:38] ptrkrysik commented on #94
@gtr, it's great to hear that you tested the uplink code and it works
for you! Can you tell something more about the tests that you performed
and what were the results?

[2015-12-18 15:34] zdroidan commented on #135
kali sana and same problem.

[2015-12-19 14:09] cahebebe commented on #135
I have the same problem in Ubuntu 14.04.

[2015-12-19 16:06] gtr5 commented on #94
Hi,
The hardware that I used is the UmTRX, I've done two different tests:
- First I tried to capture and decode the downlink/uplink signals from OpenBTS which was running on another SDR. (I didn't try to record a call yet, hopefully I'll try it soon and provide some feedback).
- The second test was on a real BTS (I tried several BTS where some of them were a few hundred meters away).
 I was able t

[2015-12-19 20:37] cahebebe commented on #135
@ptrkrysik if you wish I can give to you access to my ubuntu installation.

[2015-12-20 09:19] ptrkrysik commented on #135
I'm trying to reproduce the bug but I'm unable to obtain it. What would
be very helpful is virtualbox virtualmachine with installed gr-gsm and
the problem present.

[2015-12-20 13:43] cahebebe commented on #135
Yes, I’m currently have a virtual machine with Ubuntu with the problem present.

Teamviewer data:
ID: 727040156
Password: 3646

Please check it.

Regards,

Carlos

[2015-12-20 20:49] p0acher-101 commented on #135
Likewise I have a Debian and an Ubuntu VM both with the problem.

[2015-12-21 01:21] carxan commented on #135
It is not solution, but
change in "GSM Input Adaptor" ===> "Advanced" ====> "Core Affinity" > = 0

[2015-12-21 02:39] cahebebe commented on #135
@ptrkrysik I've sent a mega link to your email.

[2015-12-21 06:33] radioman1511 commented on #135
I changed the Value "Core Affinity" to > = 0, but it is running to Using Volk machine: sse4_1_64 and then stopped and is doing nothing.

Generating: '/home/sdrhts/gr-gsm/apps/airprobe_rtlsdr.py'

Executing: '/usr/bin/python2 -u /home/sdrhts/gr-gsm/apps/airprobe_rtlsdr.py'

linux; GNU C++ version 5.2.1 20151010; Boost_105800; UHD_003.010.git-101-g4a1cb1f2

gr-osmosdr v0.1.4-57-g55fe9619 (0.1.5git)

[2015-12-21 06:34] cahebebe commented on #135
I had the same result.

[2015-12-21 16:00] carxan commented on #135
Not tested!
http://radiolay.ru/viewtopic.php?f=55&t=339

[2015-12-21 16:21] Mohitsharma44 commented on #135
@carxan : I don't think it has the solution or the error that we are facing.
@cahebebe : Did you send the vdi or vmdk files using megalink to piotr? or should I?

[2015-12-21 16:24] cahebebe commented on #135
I've uploaded a zip file with VirtualBox files using Mega, I sent this to @ptrkrysik yesterday.

[2015-12-21 17:15] carxan commented on #135
page 2 radiolay.ru to test:

- VMWare xubuntu gnuradio 3.6 + Wireshark airprobe RTL-SDR + gqrx and
- VMWare xubuntu + 3.7 + gnuradio wireshark + gr-GSM (airprobe RTL-SDR) + gqrx

Not have vmware 11
translator use

[2015-12-21 21:34] ptrkrysik commented on #135
Hi all, I see the problem on the virtualmachine from @cahebebe . I'm trying to find the reason.

[2015-12-21 21:58] Mohitsharma44 commented on #135
@ptrkrysik : Thanks. Looking forward to understand what is causing the problem.
In the meantime, the link to the virtual image provided by @carxan works perfectly fine (I'm sorry, I missed the link somehow in my first glance.) Thanks for that.

[2015-12-22 08:20] haruotsa commented on #135
Hi! Could the above problem be related to the one discussed here on hier_block2 (?):
http://gnuradio.blogspot.co.at/2015/09/re-discuss-gnuradio-connecting-message.html

[2015-12-22 08:35] ptrkrysik commented on #135
@haruotsa - it could be the reason of the problem. I haven't found out
for sure yet, but I can share how I was able to install gr-gsm on the
virtual machine that I got from @cahebebe. It has Ubuntu 15.10
installed, so the GNU Radio version that is in the repository is
compatible with gr-gsm.

1. remove old installation of GNU Radio (here I removed everything from
 /usr/local directory)

2. downloa

[2015-12-22 16:14] cahebebe commented on #135
I have a successful install in VirtualBox with Ubuntu Deskup x64 15.10,

The issue is the ./pybombs config forcebuild ' ' doesn't work, then when asked in forcebuild left a space (with the space key).

[2015-12-22 21:48] fairlight1337 commented on #135
I can confirm @ptrkrysik's experience, installing `gr-gsm` from pybombs works just fine. In fact, I removed everything gnuradio-related that was installed through debs and re-installed everything through pybombs. No forcebuild needed. Now everything works just nicely, except for running the grc (mein problem persists).

[2015-12-23 08:18] radioman1511 commented on #135
no chance

[2015-12-23 08:58] radioman1511 commented on #135
in virtualbox can i confirm works probely  without issue , but on reality machine with new installation ubuntu 15.10 not greetings

[2015-12-23 09:10] fairlight1337 commented on #135
What version of Ubuntu did you install in your virtual machine?

[2015-12-23 09:34] radioman1511 commented on #135
Hello in virtualbox i am using Ubuntu 15.10  64bit from osboxes.org. Merry Christmas

[2015-12-23 16:56] carxan commented on #135
1)Ubuntu 15.10 clean/pybombs:
last version libosmocore/libtalloc-dev not compatible with gr-gsm/gnuradio/etc
2))Replace latest version the libosmocore:
http://bb.osmocom.org/trac/wiki/libosmocore
-install preconditions
-libosmocore-0.6.6 does not use libtalloc-dev
Download: http://cgit.osmocom.org/libosmocore/
unzip and rename ==> "libosmocore"
3)-Install pybombs
   -git clone https://github.com/p

[2015-12-23 17:21] bikhial commented on #135
Same Problem Here, kali2 installed from source.
no chance.

[2015-12-24 14:02] radioman1511 commented on #135
@carxan for me a good idea. I make it step by step but the same problem on the end.

[2015-12-24 20:50] finkata commented on #135
I am facing the same problem on Arch.

linux; GNU C++ version 5.2.0; Boost_105900; UHD_003.009.001-0-unknown

gr-osmosdr v0.1.4-55-g7cec4c0f (0.1.5git) gnuradio 3.7.9rc1
built-in source types: file osmosdr fcd rtl rtl_tcp uhd miri hackrf bladerf rfspace airspy
Using device #0 Realtek RTL2838UHIDIR SN: 00000001
Found Rafael Micro R820T tuner
Exact sample rate is: 2000000.052982 Hz
Using Volk machin

[2015-12-25 01:35] J4r3tt commented on #135
@ptrkrysik it works use ./pybombs to set config

[2015-12-25 08:52] pitikay commented on #135
I am getting the same error, tried with newest libosmocore and v 0.6.6 on ubuntu 15.10 and kali 2, no luck...

[2015-12-25 12:57] palachzzz commented on #94
Hi,
I tryed to decode uplink and I had good result when it SDCCH.
But when I tryed to decode voice, I saw double uplink frames, and no downlink frames, so speech.gsm not playable (I think there duplicated frames).
[uplink_call.zip](https://github.com/ptrkrysik/gr-gsm/files/72184/uplink_call.zip)
For tests I used OpenBTS on UmTRX, and another UmTRX for gr-gsm, my flowgraph:
![image](https://cloud.g

[2015-12-25 16:10] zdfrizzell1 commented on #135
@carxan I believe I tried your method using Ubuntu 14.04 on VMware player, perhaps that was my issue. Here's what I did
I already had the newest libosmocore built from source.
Then I downloaded libosmocore 0.6.6. Cloned pybombs.
I placed the 0.6.6 unzipped libosmocore into pybombs/src and commented out the source: git://git://git.osmocom.org/libosmocore.git in pybombs/recipes/libosmocore.lwr
Then

[2015-12-25 19:15] carxan commented on #135
Ubuntu Software Center
search: libtalloc
NOT installed libtalloc-dev

[2015-12-25 21:22] haruotsa commented on #135
Here's my 2 cent:
I installed the Gnu Radio v3.7.9rc1 on Linux Mint 17.1 using Pybombs and received the same error as described in the title. After some googling I went on and "downgraded" the lines of gnuradio-runtime/lib/hier_block2_detail.cc regarding "hier_in" & "hier_out" variables as defined for releases before 3.7.9rc1. (See https://github.com/gnuradio/gnuradio/pull/694/files). With this ex

[2015-12-26 05:32] ptrkrysik commented on #94
@gtr5, thank you for the effort to test the uplink. I will merge the
uplink-decoding to master branch with the change proposed by you. It
will require some time in order to test how existing application work
after this change.

[2015-12-26 05:36] ptrkrysik commented on #135
@haruotsa, thank you for poitning this. It is probable that the source
of the problem is in GNU Radio. If it is so it would be good to have
some minimal working example of the bug in order to show it to the GNU
Radio developers, so they fix the issue.

[2015-12-27 08:17] finkata commented on #135
I can confirm that rolling back ./gnuradio-runtime/lib/hier_block2_detail.cc to the previous version of the file fixes the issue.

I used this:

1. git checkout e4aff27 gnuradio-runtime/lib/hier_block2_detail.cc
2. build gnuradio

Thanks

[2015-12-28 02:37] zdfrizzell1 commented on #135
@finkata can you explain this more? I am no linux expert so I assumed you ran "git checkout e4aff27 gnuradio-runtime/lib/hier_block2_detail.cc" in directory pybombs/src/gnuradio then ran "build gnuradio" but build gnuradio isn't actually a command, did you redo the build process of gnuradio?

[2015-12-28 06:41] pitikay commented on #135
@zdfrizzell1 just run ./pybombs install gr-gsm again, it should install from new sources! Haven't tested it yet though...

[2015-12-28 09:13] radioman1511 commented on #135
@haruotsa great job ,it's work for me . I have compile with downgrade the sources in ~/pybombs/src/gunradio/ and then works very fine buissness.Happy new year......

[2015-12-28 15:57] pitikay commented on #135
@haruotsa

I can confirm this gets rid of the error, however there seem to be other problems elsewhere... gqrx stops working after installation:
undefined symol: _ZN3uhd6device4findERKNS_13device_addr_tE

 airprobe_rtlsdr_scanner.py throws a segfault or "corrupted double-linked list: 0x00000000001b4dec0"

airprobe_rtlsdr.py seems to work.

Once I remove everything from /usr/local gqrx works fine a

[2015-12-28 22:40] carxan commented on #135
It is not technical solution:
Ubutu 15.10 clean, with pybombs, without libtalloc-dev,
with old version of libosmocore, everything worked fine:
gnuradio, airprobe, kalibrate, gqrx, etc.

[2015-12-29 06:28] Cyr73 commented on #135
pitikay,

it's imposible:
"gr-gsm already installed"

[2015-12-29 14:17] finkata commented on #135
@zdfrizzell1 @Cyr73

I think you should force it to re-install it again.
I cannot tell about pybombs, I have installed it from source.

GL

[2015-12-30 13:57] anh4rck3r commented on #135
I'm not sure it is clearly stated in all comments above, and my be important: for me, this problem [GSM input adaptor(9): insufficient connected input ports (1 needed, 0 connected)] only occurs when using gnuradio 3.7.9. All run fine using gnuradio 3.7.8 and latest gr-gsm release.

Ubuntu 14.04, Bladeref, all stuf (from gnuradio, libosmocore, ... to gr-gsm) compiled/installed from source (SVN and

[2015-12-30 14:55] zdfrizzell1 commented on #135
@anh4rck3r this is very useful information. I am assuming that by building libosmocore from source you used the latest version?

[2015-12-30 15:25] anh4rck3r commented on #135
Yes, AFAIK, since I systematically clone
git://git.osmocom.org/libosmocore.git

On 12/30/2015 03:55 PM, zdfrizzell1 wrote:

[2015-12-30 16:05] haruotsa commented on #135
@anh4rck3r

Downgrading 3.7.9->3.7.8 seems to be the best solution so far. That's also what I did after experimenting with the hierarchial block code.

[2015-12-30 16:19] ptrkrysik commented on #135
Hi all,

I've found the source of the problem. It is in these two lines:
https://github.com/ptrkrysik/gr-gsm/blob/master/python/receiver/gsm_input.py#L40
https://github.com/ptrkrysik/gr-gsm/blob/master/python/misc_utils/clock_offset_corrector.py#L40

For some reason in old gnuradios 3.7.8 and earlier registration of message input was translated into this line:
self.ppm_in = None;self.message_port_

[2015-12-31 04:57] zdfrizzell1 commented on #135
Gosh this has been a hassle, but I found a way that worked and loaded gnuradio-companion airprobe_rtlsdr without error! I am actually doing a university project so getting this working was a big deal. Here is the step by step with Ubuntu 14.04 and fresh pybombs install (delete any old files in /usr/local/ directories first) also make sure you have libtalloc-dev
1) Download GNURadio 3.7.8: http://g

[2015-12-31 19:37] osamaeshmilh commented on #135
i have the same error  ... i'm using ubuntu 14.04 64bit with gnuradio installed with pybombs
<code>
osama@Alienware:~/pybombs/src/gr-gsm/apps$ airprobe_rtlsdr.py
linux; GNU C++ version 4.8.4; Boost_105400; UHD_003.010.git-90-g33419b5f

gr-osmosdr v0.1.4-58-g810a981d (0.1.5git) gnuradio 3.7.10git-31-gb17bcb88
built-in source types: file osmosdr fcd rtl rtl_tcp uhd hackrf bladerf rfspace airspy redp

[2015-12-31 23:44] Mahmoudshakra commented on #135
i have the same problem ?? how to Downgrade GNU-radio ?? have i to reinstall it from the first ??

[2016-01-01 15:32] ptrkrysik commented on #135
Hi all,
I've just pushed a fix for the problem with running gr-gsm that is discussed in this thread. Can you reinstall gr-gsm and check if it works for you? You don't have to reinstall it from zero:
-enter pybombs/src/gr-gsm directory
-run:
    git pull
-enter pybombs/src/gr-gsm/build directory
-run:
   make install

[2016-01-01 16:56] osamaeshmilh commented on #135
i did as you said and i still got the same error ??
<code>
root@Alienware:~/pybombs/src/gr-gsm# git pull
remote: Counting objects: 7, done.
remote: Total 7 (delta 5), reused 5 (delta 5), pack-reused 2
Unpacking objects: 100% (7/7), done.
From https://github.com/ptrkrysik/gr-gsm
   34935e9..3a527f8  master     -> origin/master
Updating 34935e9..3a527f8
Fast-forward
 python/misc_utils/clock_offset_c

[2016-01-01 17:21] osamaeshmilh commented on #135
i'm running gnuradio 3.7.10 installed with pybombs
<pre><code>
root@Alienware:~# gnuradio-companion --version
GNU Radio Companion 3.7.10git-31-gb17bcb88

This program is part of GNU Radio
GRC comes with ABSOLUTELY NO WARRANTY.
This is free software, and you are welcome to redistribute it.
</code></pre>

[2016-01-01 17:42] osamaeshmilh commented on #135
it looks like i got this version of gnuradio installed with pybombs ... gnuradio 3.7.10git-31-gb17bcb88
<pre><code>
root@Alienware:~# gnuradio-companion --version
GNU Radio Companion 3.7.10git-31-gb17bcb88

This program is part of GNU Radio
GRC comes with ABSOLUTELY NO WARRANTY.
This is free software, and you are welcome to redistribute it.

</code></pre>

[2016-01-01 17:58] ptrkrysik commented on #135
Thank you @osamaeshmilh . I will check this.

[2016-01-02 08:16] ptrkrysik commented on #135
@osamaeshmilh, can you check now if gr-gsm works for you?

[2016-01-02 11:53] osamaeshmilh commented on #135
Thank you @ptrkrysik , every thing is working fine now :+1:

[2016-01-02 16:52] fairlight1337 commented on #135
@ptrkrysik works for me, thanks!

[2016-01-04 11:01] ptrkrysik commented on #135
Thank you guys (especially @cahebebe for providing the virtual machine image) for all the help in fixing this bug. Without your assist it would be harder and more time-consuming.

I hope the bug is fixed for good. In case it is not I will reopen the issue.

[2016-01-04 11:03] #130 closed

[2016-01-04 11:03] #129 closed

[2016-01-05 22:04] vania00 commented on #135
Hi, the same issue seams to be still affecting airprobe_rtlsdr_scanner.py, airprobe_rtlsdr.py works good but scanner crashes on "Wideband receiver(7): insufficient connected input ports (1 needed, 0 connected)", please take a look, thanks!

[2016-01-05 23:27] Mohitsharma44 commented on #135
Hey @vania00: Did you try instrcutions by @zdfrizzell1 ? It worked for me on ubuntu 15.10 fresh install.

a) Copy file from downloads and move to home folder
b) Extract file and rename to gnuradio
2) Use pybombs to install gr-gsm: git clone https://github.com/pybombs/pybombs.git
a) cd pybombs
b) ./pybombs config
c) Press enter for all options except:
i) prefix = “/usr/local/”
d) Move gnuradio you

[2016-01-05 23:35] vania00 commented on #135
thx @Mohitsharma44 I am running on gnuradio 3.7.9 and with the latest patches of gr-gsm airprobe_rtlsdr works great, just airprobe_rtlsdr_scanner still has the same issue of "Wideband receiver(7): insufficient connected input ports (1 needed, 0 connected)",  it probably uses something that needs patching for 3.7.9 that wasn't patched for airprobe_rtlsdr... I would not like to downgrade to 3.7.8 th

[2016-01-06 07:22] ptrkrysik commented on #135
Thank you @vania00 for the report. There are in fact two hierarchical blocks in the scanner that needs fixing.

[2016-01-06 21:21] #135 closed

[2016-01-06 21:27] ptrkrysik commented on #135
The problem should be fixed for the whole project now. You don't need to donwgrade GNU Radio.

[2016-01-08 10:06] miaoski commented on #135
Kali 2.0 has GNU Radio 3.7.5 installed.  That might be the reason why I have the same issue with the latest commit.

[2016-01-13 21:06] d3crypt opened #136 "No supported devices found to pick from"
root@kali:~/gr-gsm/apps# airprobe_rtlsdr.py
linux; GNU C++ version 4.9.1; Boost_105500; UHD_003.007.003-0-unknown
I have installed gr-gsm manually and it still isn't working. I can verify its not my Rtlsdr because it works fine in gqrx.

Here is the output when I try to run it:
root@kali:~/gr-gsm/apps# airprobe_rtlsdr.py
linux; GNU C++ version 4.9.1; Boost_105500; UHD_003.007.003-0-unknown

gr-osm

[2016-01-14 07:41] ptrkrysik commented on #136
Can you connect in gnuradio-companion RTL-SDR source to null sink and
check if it works?

[2016-01-15 23:34] d3crypt commented on #136
I will do so and post back.

[2016-01-17 07:33] tweekspeak commented on #81
Hi, maybe u can help me out. I have a marquee and  installed Linux deploy an vcn, but during install it said it skips mnt partitions, /proc/sys/dev/tty, an more. Dns fail, mtab fail, ssh fail vcn fail. Went into vcn viewer an got "port on which tje compter is listening could mot be contacted. Do you think y could help me along?